[2018-10-02 20:14] o2sh opened #1 "Implement logic for dominant language"
Create a function that will scan a project and determine the dominant language (the language is currently hardcoded in the main function)

An idea would be to scan all files based on a set of extension (rs for rust, py for python) and find which extension represents most of the lines of code (in case of a multiple language project).

[2018-10-03 07:40] o2sh opened #2 "Better and more ASCII !! (╯°□°）╯︵ ┻━┻"
Some of our ascii logos look a bit out of shape...

plz help ಥ_ಥ

Don't hesitate to add more languages, if you feel inspired.

Bye.
ฅ^•ﻌ•^ฅ

[2018-10-03 08:52] jonathanfilbert commented on #2
Would it be okay to add Coffeescript?

[2018-10-03 09:00] o2sh commented on #2
I don't see why not...you might also want to add JavaScript as it's closely related.

[2018-10-04 17:22] #1 closed

[2018-10-04 17:53] o2sh opened #8 "Multicolor ASCII"
Like neofetch (written in bash), we would like to implement multicolor ASCII logos to better match their original design.

This might be tricky...

[2018-10-04 18:01] o2sh opened #9 "Implement logic for project Information"
Create a function that will scan a project and retrieve its information: Name, Author, Number of lines, License...

These info are currently hardcoded in the main function...

[2018-10-06 15:42] zxey commented on #9
As @o2sh states in #12 there are only three things left to implement:
Project name - this can be obtained from git by parsing remote origin or some similar info
Project repo - also can be parsed from git metadata
Project license - you can probabyl use [askalono](https://github.com/amzn/askalono) library to detect license of the project

[2018-10-07 22:45] Boxfort commented on #8
I'm working on this one! It's almost working, just gotta figure out how to deal with pesky invisible characters

[2018-10-27 13:43] #9 closed

[2018-10-27 13:45] o2sh opened #14 "License detection"
Create a function that will scan a project and retrieve its License (MIT, GPL...).

The license is  currently hardcoded in the main function...

[2018-10-31 20:01] #14 closed

[2018-11-12 23:00] alichtman opened #17 "Cargo install"
It would be awesome if this could be installed with a package manager.

[2018-11-13 09:09] o2sh commented on #17
I agree.
For starters, I'll try and submit it to the Arch User Repository.

[2018-11-13 10:13] o2sh commented on #17
But then only people with rust can use it.

Still, your point is valid, I'll start with cargo.

[2018-11-14 01:10] felix91gr commented on #2
@o2sh, how did you draw these? Maybe with a formal procedure we could synthesize the logos straight from a PNG. There are, afaik, libraries that do this for you :D

[2018-11-14 09:00] o2sh commented on #2
Hi @felix91gr,
Except for typescript, R, lua and maybe clojure, I used an [online tool] (https://www.text-image.com/convert/ascii.html) that converts PNG into ascii which is OK but not great.

If you know better alternatives, plz share. :)

[2018-12-17 08:21] #17 closed

[2018-12-17 16:55] fenollp opened #21 "OSX prebuild binaries"
Pretty please

[2018-12-17 17:31] autra opened #22 "Dominant language detection does not work very well (at least for js project)"
Title says it all:
- https://github.com/mrdoob/three.js/ gets detected as shell (should be javascript)
- same thing for https://github.com/AnalyticalGraphicsInc/cesium/
- same thing for https://github.com/iTowns/itowns/

Thanks for the project, it's a very cool idea :-)

[2018-12-17 17:56] o2sh commented on #22
Javascript is not handled yet. So it only accounted for the lines written in shell.

I just need to find a cool ASCII logo for Javascript...

[2018-12-17 19:03] sdushantha commented on #22
@o2sh

[code]

[2018-12-17 22:46] o2sh commented on #22
![javascript](https://user-images.githubusercontent.com/13710835/50120475-ee008d00-0255-11e9-8945-5d3faa46c6df.png)

[2018-12-17 22:47] o2sh commented on #22
It's a good start.

@autra: You can try again, but it should work now

[2018-12-19 10:37] o2sh commented on #22
Sorry, I didn't know you wanted to do it. There is an open issue #2 where you can submit better ASCII logos...or add new languages.

I used the logo of @sdushantha and customized it a bit.

Glad you like it :)

[2019-01-13 16:50] nazarimilad opened #24 "Additional repository statistics"
What I think would be really nice to have are extra repository stats.

For example if the project is from a Github repository, that Onefetch could show, thanks to the Github API, the following things:

* \# issues,
* \# stars,
* most important contributors,
* latest release version

(Request from my tweet)

[2019-01-20 23:04] o2sh commented on #24
Info added:
- Version
- Commits
I don't think I can do more without using the APIs which would make onefetch network dependant. Not sure this is best way to go...

[2019-02-15 23:03] aaronfranke opened #25 "Having too many languages will overflow text into the logo"
For example, this happens when I run onefetch on Godot:

![1](https://user-images.githubusercontent.com/1646875/52888970-f0933c00-314b-11e9-88f3-6ad85d949f1a.png)

[2019-02-16 20:45] aaronfranke opened #26 "Improve language detection system to recognize C++ headers"
https://github.com/github/linguist

Linguist is a tool developed by GitHub for the specific purpose of detecting languages. It's a very mature tool that gets it right the majority of the time by using complex rules.

[2019-02-16 22:03] o2sh commented on #25
Thanks for pointing that out @aaronfranke, I added a break line character every time we  hit a multiple of 3

![deepinscreenshot_select-area_20190216225726](https://user-images.githubusercontent.com/13710835/52905722-7f808100-323e-11e9-95cd-485879aabeb1.png)

There was also an other bug that prevented onefetch from showing all the project's info (number of lines & License) --> also fixed (it only

[2019-02-17 10:39] o2sh commented on #26
But why ?
https://github.com/Aaronepower/tokei is written in Rust and does a great job detecting languages.

[2019-02-17 18:14] aaronfranke commented on #26
Is that what Onefetch currently uses? It detects C++ as C in the case of Godot.

[2019-02-17 18:47] o2sh commented on #26
it only detects the languages that are currently supported by onefetch (WIP):

    C
    Clojure
    C++
    C#
    Go
    Haskell
    Java
    Lisp
    Lua
    Python
    R
    Ruby
    Rust
    Scala
    Shell
    TypeScript
    JavaScript
    Php

Also tokei ignores all commented lines which is why the language distribution sometimes differs from GH

[2019-02-19 12:56] o2sh commented on #25
@aaronfranke can I close the issue ?

[2019-02-19 17:03] #25 closed

[2019-03-09 13:17] HorlogeSkynet opened #27 "Specify path on the command line"
Hey over here :wave:

Just wondering, do you think it would be possible to specify a path directly on the command line ?

[code]

Sometimes we just want to output some info, without having to **move** into the effective target.

For your underneath git usages, the `-C` option could do the job !

Thanks, bye :bowing_man:

[2019-03-09 19:26] o2sh commented on #27
:sweat_smile: I should have thought of that

It sould be good now, plz tell me if it's okay

Thanks a lot @HorlogeSkynet

[2019-03-09 21:42] HorlogeSkynet commented on #27
Thanks to you @o2sh !

That's sincerely one of the quickest feature request that has been solved, and it works like a charm so here is a :100: for you.

(Sur la même idée, et aussi originellement inspiré de Neofetch / Screenfetch, qui pourrait t'intéresser : https://github.com/HorlogeSkynet/archey4)

:wave: Ossama

[2019-03-09 21:42] #27 closed

[2019-03-10 00:01] aaronfranke commented on #26
Upstream issues: https://github.com/Aaronepower/tokei/issues/305 and https://github.com/Aaronepower/tokei/issues/67

We can leave this closed though if you want.

[2019-03-10 11:51] o2sh commented on #26
Ok, with the new title it makes more sense to keep this open.

We'll wait for tokei to fix it then.

Thx @aaronfranke

[2019-03-10 11:56] o2sh commented on #26
#https://github.com/Aaronepower/tokei/issues/67

[2019-03-10 12:01] o2sh commented on #26
Aaronepower/tokei#67

[2019-03-10 12:04] o2sh commented on #26
Aaronepower/tokei#67

[2019-04-06 22:49] #24 closed

[2019-04-07 10:16] o2sh opened #28 "Add disk size and last commit"
Just do it

[2019-04-08 08:42] o2sh commented on #28
git log -1 --format=%cr

https://git-scm.com/docs/pretty-formats

[2019-04-10 21:55] kiedtl commented on #17
What about Windows installation? (with [scoop](https://scoop.sh))

[2019-04-10 22:34] alichtman commented on #17
You can use `cargo` on Windows.

[2019-04-11 11:24] o2sh commented on #17
The binary for windows is attached to the [release](https://github.com/o2sh/onefetch/releases/tag/v1.5.4)

Thx for the suggestion @kiedtl

[2019-04-15 16:48] d3zd3z opened #31 "Add ability to ignore git submodules"
Some projects pull in other large subprojects as submodules (think of LLVM in the Rust compiler source). This can dwarf the statistics, making them less useful.

This could either be added as a feature to tokei, or use the output of a git submodule command to generate a list of exclusions to give to it.

[2019-05-01 16:14] bugabinga opened #33 "hard to read on light background"
In terminal emulators with light backgrounds, most of `onefetch`s output is unreadable.

[2019-05-03 08:29] o2sh commented on #33
Yeah, unfortunately as dark colors don't show well on black background, light colors are hard to read on white background.

I don't see how i could please everyone...

Thx for your feedback @bugabinga

[2019-05-03 20:55] bugabinga commented on #33
That is hard indeed :)

However, how about these alternatives:
Offer flags for dark/light colors

[code]
Maybe there is a way to use the default colors of the terminal emulator, though I admit, I don't know.

[2019-05-12 04:05] Cj-bc opened #34 "I made homebrew formula"
I made a homebrew formula for this: [Cj-bc/homebrew-onefetch](https://github.com/Cj-bc/homebrew-onefetch)
Actually it's not so good(ex: doesn't use 'make' to install), but It should work.
I wonder this helps someone ;)

[2019-05-13 08:54] o2sh commented on #34
This is much appreciated @Cj-bc,
I don't use MacOS, so I can't test it.
If this works, it will resolves #21.

The next big step would be to do a PR to the homebrew-core repository in order to add onefetch as a formula.

Can you do that ?

Thanks again.

[2019-05-13 14:38] Cj-bc commented on #34
Thanks for the comment!
First of all, as I'm not a native English speaker, there could be lots of mistakes. Sorry about that.

### about #21

Actually, I think this doesn't resolve #21 unless the formula added to homebrew-core because it won't provide any binaries for now.
We should compile onefetch on our computer.
(But when it's added to homebrew-core, they would make binaries, `bottle`, for us)

[2019-05-13 14:59] o2sh commented on #34
OK so first, we need the binary for MacOS --> If you can build the project with rustc you should be able to provide me with the binary which I will then attach to the current release. After that you should update the formula with the proper file.

------

About the Makefile --> here is a brew formulae for a rust project (which is a dependency of onefetch) that doesn't use a Makefile and has a boil

[2019-05-14 01:27] Cj-bc commented on #34
Here's binary file for MacOS Mojave 10.14.4
It's compiled by doing `cargo build --release`

[onefetch_macosx_mojave_x86-64.zip](https://github.com/o2sh/onefetch/files/3175435/onefetch_macosx_mojave_x86-64.zip)

---

Thanks for the reference!
It helps a lot.

Previous Todo:

- [ ] lack of test in the formula
- [x] don't use Makefile to install
- [x] Homepage

I'm working on making tests...
So I thi

[2019-05-16 08:29] o2sh commented on #34
Having trouble compiling the project @Cj-bc ?

[2019-05-18 13:31] Cj-bc commented on #34
yes, I think something wrong happens with that. Compiling was done with no problem.
But when I see the binary with 'strings', there were some error messages(for human read) which contains some environment variables, paths, etc.
I've heard that some error message could be included, but I think that's too strange...
(I asked my friend who can write Rust. He said it's not common case to have paths in

[2019-05-20 08:37] o2sh commented on #34
Alright, Good luck with that @Cj-bc !

And thanks for your contribution

[2019-05-29 08:53] o2sh commented on #34
So, you gave up @Cj-bc ?
Too bad, that was a great idea...

:cry:

[2019-05-29 09:44] Cj-bc commented on #34
Sorry for late reply, I've worked on other work...
I don't mean give up, though.

Actually, I'm stucking with making test.
I realize that there's no way to output version information. So I can't check version as test.
And other idea, which is to compare current outputs with prepared outputs ( like snapshot test? I think.), wasn't work good for now. I've got an error from homebrew. As I'm not good

[2019-05-29 12:13] o2sh commented on #34
Ok , just use a boilerplate test for now, example :

  test do
    (testpath/"lib.rs").write <<~EOS
      #[cfg(test)]
      mod tests {
          #[test]
          fn test() {
              println!("It works!");
          }
      }
    EOS
    system bin/"tokei", "lib.rs"
end

we will improve on it later on.

If you could just provide with the binary for MacOs, I can do the rest.

Thanks again f

[2019-05-29 15:04] Cj-bc commented on #34
Sorry I'm wondering some misunderstanding occur?
(If that's my mistake, sorry for that. I'm not familiar to boilerplate test.)

I think `tokei`'s example is good for them because it actually tests features of `tokei`.
But I think we can't do any test which tests features of `onefetch` without git repository. ( And when I try to manipulate git, I've got some error.)

### The test I was planned:

##

[2019-06-18 20:26] samblake commented on #31
O

[2019-06-19 04:25] icyphox opened #37 "Support for Nim"
Hey, it’d be cool to have support for the Nim programming language.
https://github.com/nim-lang/nim

[2019-06-20 17:29] MaterialTime opened #38 "Support for Dart"
Could support for the [Dart](https://dart.dev) programming language be added?

Adding Dart support would also make this program compatible with repositories containing [Flutter](https://flutter.dev) apps.

[2019-06-22 10:53] o2sh commented on #38
Hi @MaterialTime,
Tell me what you think? (and close if OK)

![DeepinScreenshot_select-area_20190622105115](https://user-images.githubusercontent.com/13710835/59962941-c5df3880-94db-11e9-8267-c650a5c92d1b.png)

Thanks for your suggestion!

[2019-06-22 11:16] o2sh commented on #37
Hi @icyphox,
Tell me what you think? (and close if OK)

![DeepinScreenshot_select-area_20190622111352](https://user-images.githubusercontent.com/13710835/59963173-feccdc80-94de-11e9-9b1b-14797554f864.png)

Thanks for the suggestion!

[2019-06-22 11:18] icyphox commented on #37
This looks great! Thanks :)

[2019-06-22 11:18] #37 closed

[2019-06-22 13:41] MaterialTime commented on #38
@o2sh Looks good!

[2019-06-22 13:41] #38 closed

[2019-06-23 20:38] o2sh commented on #31
Sorry for the late answer.
I'm not sure I see the issue, tokei (therefore onefetch) is already ignoring everything that is listed in your .gitignore file.

What I can do is add an exclude flag (like in tokei) where the user can specify some files or folder to exclude which are not referenced in the .gitignore...

Would that solve the issue?

[2019-07-11 20:59] tomasbargut opened #39 "Support for Perl"
Hello, there!
Could support for Perl be added?

[2019-07-14 11:18] o2sh commented on #39
Hi @tomasbargut ,
Tell me what you think? (and close if OK)

![DeepinScreenshot_select-area_20190714111328](https://user-images.githubusercontent.com/13710835/61182863-f91f6e00-a628-11e9-9856-8e9b3e1b928f.png)

Thanks for your suggestion!

[2019-07-16 15:48] tomasbargut commented on #39
Awesome!

[2019-09-30 20:13] spenserblack opened #40 "Add -h command-line option for usage"
Executing `onefetch -h` causes onefetch to treat `-h` as a directory.
Since [clap](https://crates.io/crates/clap) is already needed to compile due to your tokei dependency, you might want to make use of clap so that `onefetch -h` would print a help message.

[2019-09-30 21:27] #39 closed

[2019-09-30 21:29] #28 closed

[2019-09-30 21:51] o2sh opened #41 "Add Name of current Local Branch and Disk Size"
We would like to display the name of the current local branch as part of the project information.
Same thing for the disk size of the Project (tip: git count-objects -vH).

Feel free to be creative in the way you want to display those infos (espacially the branch).

:)

[2019-10-01 09:37] nikofil commented on #41
Hey! I found this issue through the hacktoberfest tag and would like to work on it. :)

[2019-10-01 10:16] o2sh commented on #41
Sure, go ahead! 💯

Thx @nikofil

[2019-10-01 16:34] spenserblack commented on #31
If the tokei dependency is updated to version 10.0, you should be able to add a `.tokeignore` file \(see [tokei's `CHANGELOG.md`](https://github.com/XAMPPRocky/tokei/blob/master/CHANGELOG.md#1000)\). Without looking too much into onefetch's code, I'm assuming that, whatever tokei ignores via this file, onefetch would ignore as well. That might help with this issue.

[2019-10-01 21:49] #40 closed

[2019-10-01 21:54] #2 closed

[2019-10-01 21:55] o2sh opened #45 "Better and more ASCII !! (╯°□°）╯︵ ┻━┻"
Some of our ascii logos look a bit out of shape...

plz help ಥ_ಥ

Don't hesitate to add more languages, if you feel inspired :100:

[2019-10-02 12:18] #41 closed

[2019-10-03 18:16] o2sh commented on #31
Thanks for the info @spenserblack

Plz do the PR :1st_place_medal:

Does that solve the issue @d3zd3z ?

[2019-10-04 07:53] o2sh opened #50 "Reduce the Commit Hash to 7 characters"
This one should be simple enough, we would like to shorten the commit hash to only 7 characters:

![onefetch-commit-hash](https://user-images.githubusercontent.com/13710835/66190414-34f82b80-e68c-11e9-9151-237b9713c5a8.png)

64fc1d8e34d4f7cefa7a60a83125a7d6f199a --> 641fc1d

Good luck 🥇

[2019-10-04 08:05] o2sh opened #51 "Publish Onefetch to Homebrew"
As of today, it's not possible to install Onefetch via [Brew](https://brew.sh/) (package manger for MacOs).

The process is explained [here](https://docs.brew.sh/How-To-Open-a-Homebrew-Pull-Request).

Have fun 🥇

[2019-10-04 08:15] arvidboivie commented on #50
I'll have a look at it :)

[2019-10-04 20:38] #50 closed

[2019-10-05 14:48] #31 closed

[2019-10-06 12:17] o2sh opened #55 "Additional info about Authors (Contributors)"
Current display:

![DeepinScreenshot_select-area_20191001200044](https://user-images.githubusercontent.com/13710835/66268961-395e4900-e832-11e9-932f-1bbafac50687.png)

In addition to their names, we would like to display the number of commits (number and percentage of total commits), in the same spirit of [git summary](https://github.com/tj/git-extras/blob/master/Commands.md#git-summary):

![Deepi

[2019-10-06 12:34] o2sh opened #56 "Add number of files to Repository size"
We would like to display the number of files present in a repo.

That information should be displayed along side the "Repository size", as such:

**_Repository size: 31.63 MiB (307 files)_**

You can use  `git-ls-files`  to get the list of files and then count it.

:100: :1st_place_medal:

[2019-10-06 15:29] Vipul-Bajaj commented on #56
Hi Ossama, I can take this up.

[2019-10-06 15:46] WillyChen123 commented on #55
Hi, I would like to work on this issue.
Could you please tell me what the format is?
Is the same as the picture?
Thank you. 😊

[2019-10-06 15:56] o2sh commented on #55
You have total freedom, display it the way you think is best :100:

[2019-10-06 16:22] Vipul-Bajaj commented on #56
Hi,
What should be the output if the size is unknown??
Should be something like this : **?? (?? files)** or **??**

[2019-10-06 16:39] o2sh commented on #56
Well, if both infos are unknown --> ??
If only the size is unknown --> ?? (X files)
If only the number of files is unknown --> X MiB

[2019-10-06 16:40] Vipul-Bajaj commented on #56
Thanks

[2019-10-06 16:44] WillyChen123 commented on #55
OK, Thank you.

[2019-10-06 18:29] #55 closed

[2019-10-06 18:40] #56 closed

[2019-10-06 20:18] o2sh opened #60 "Display the creation date of the repo"
We would like to display the repo's age.

That information should be displayed along side the "Project" name, as such:

Project: onefetch, created 1 year, 1 month ago

You can use `git log --reverse --pretty=oneline --format="%ar"` to fetch the repository age from oldest commit

:100: :1st_place_medal:

[2019-10-06 22:22] bojan88 commented on #60
Hey, I'll create a PR for this. Already working on it

[2019-10-07 18:31] spenserblack opened #63 "[QUESTION] Should onefetch report remote data?"
Hello! Should onefetch report data from the remote repository (number of stars, number of issues, etc.)? Or is onefetch planned to focus mainly on local repository data?

[2019-10-07 22:41] o2sh commented on #63
Hi @spenserblack ,

As it requires the use of an [API](https://api.github.com/repos/o2sh/onefetch ) to get these additionnal infos, it would make onefetch network dependant....

Not sure if it's such a good idea

[2019-10-08 12:34] spenserblack commented on #63
Understood, thanks!

[2019-10-08 12:34] #63 closed

[2019-10-11 23:52] #60 closed

[2019-10-12 00:09] o2sh opened #69 "Set Custom colors via flag"
Currently, the colors used for each language are hard coded in a vector:
`Language::Clojure => vec![Color::BrightBlue, Color::BrightGreen]`

We would like to give the user the possibility to set his own colors by passing a flag:

`onefetch --ascii_colors 1 2 3 4 5 6`

Inspired from a neofetch's [feature](https://github.com/dylanaraps/neofetch/wiki/Custom-Ascii-art-file-format) , it would be helpfu

[2019-10-12 01:18] o2sh opened #70 "Suggestions for improvement"
![onefetch](https://user-images.githubusercontent.com/13710835/66692379-57420880-ec8d-11e9-8d29-0d982378170e.png)

If you have any suggestions/remarks that would be beneficial to the project, plz share it here. :smiley_cat:

[2019-10-12 13:25] o2sh opened #73 "Disable info line from appearing in the output"
We would like to allow users  to disable one (or many) info line(s) from appearing in the output via a command line flag:

`onefetch --disable size version`

:100:

[2019-10-12 13:37] o2sh opened #74 "Choose Which Language's ascii art to print"
We would like to allow users to pick which language's ascii art to print.
By default, the ascii art corresponds to the main language of the repo.

With this feature, the user can choose which art to display:

`onefetch --ascii_language rust`

which will show the rust logo even if the main language isn't rust.

:100:

[2019-10-12 18:57] ktsuench commented on #74
I'm interested it trying this out :)

[2019-10-13 06:14] ktsuench commented on #73
I'd like to take a crack at this one :)

[2019-10-13 08:57] mstruebing commented on #73
I'll give it a try.

[2019-10-13 09:27] mstruebing commented on #73
Oh, sorry, I had this tab open and only recently refreshed it and saw you want to do it :(

[2019-10-13 10:12] mstruebing commented on #70
I would have it more modularized instead of a giant `main.rs` to be honest. :)

[2019-10-13 12:14] o2sh commented on #70
I agree, it's indeed getting pretty big. I'll create an issue in that regard.

Feel free to take a shot at it :+1:

[2019-10-13 12:27] o2sh opened #77 "[Code organization] Split main.rs into modules"
As suggested by @mstruebing in #70,
It's time to split the main.rs file into multiple files/modules.

Feel free to re-organize the code in a way that improves the navigation inside the project overall.

Thx :100: :1st_place_medal:

[2019-10-13 13:13] #74 closed

[2019-10-13 16:48] mstruebing commented on #77
I think I will try that one.

[2019-10-13 19:30] spenserblack commented on #69
Sounds fun! Can I try this one?

[2019-10-13 22:21] #69 closed

[2019-10-14 04:09] ktsuench commented on #73
That's alright, I could probably learn from how you do it. I don't have much experience with Rust :)

[2019-10-14 10:49] o2sh opened #83 "Keep the same spacing between the ASCII art and the info lines"
As of today, the distance/spacing between the ASCII logo and the info bloc is quite inconsistent among the different languages:

* Perl (too much spacing and presence of left indentation):

![61182863-f91f6e00-a628-11e9-9856-8e9b3e1b928f](https://user-images.githubusercontent.com/13710835/66746035-fd099900-ee80-11e9-80ff-394efe0b7a6c.png)

* Swift (no spacing and left indentation):

![56481406-0a0

[2019-10-14 16:26] Vipul-Bajaj commented on #83
Hi Ossama, I can take this up.

[2019-10-16 14:09] kjeremy opened #86 "Output is terrible on windows"
This is what it looks like on `rust-analyzer`.

[code]

[2019-10-16 16:37] daniel5151 opened #87 ".gitattributes + linguist support?"
It would be nice if onefetch could parse `.gitattributes` and respect `linguist-documentation` rules.

E.g: onefetch believes that a project of mine ([ANESE](https://github.com/daniel5151/ANESE)) is written primarily in assembly, when it's actually written entirely in C++. This is most likely caused by the large collection of .asm test files included in the repo.

Github allows marking directories

[2019-10-16 18:53] o2sh commented on #87
@daniel5151  Thank you for your issue!
onefetch relies on tokei for language detection. I've opened an [issue](https://github.com/XAMPPRocky/tokei/issues/386) in that regard.

[2019-10-16 19:05] spenserblack commented on #86
Looks like this might be fixed by updating `colored` to 1.8, which includes support for the Windows build target.

[2019-10-16 19:26] kjeremy commented on #86
That did not fix it locally. I can run with NO_COLOR=1 in my environment and that at least gets readable output.

[2019-10-16 19:36] spenserblack commented on #86
Which version of Windows is this? Just ran it on W10 (without updating crate) and it works. This is probably related to mackwic/colored#59.

[2019-10-16 19:37] kjeremy commented on #86
1809 Build 17763.805

[2019-10-16 19:40] kjeremy commented on #86
The examples from the `colored` repo work

[2019-10-16 19:42] kjeremy commented on #86
Even on tag v1.6.1 so it might not be a `colored` thing specifically.

[2019-10-16 19:44] o2sh commented on #86
I'm not sure

[2019-10-16 19:45] kjeremy commented on #86
Great that fixed it!

[2019-10-16 19:45] o2sh commented on #86
@kjeremy can you give it another try? I've just pushed an update in the light of @spenserblack remarks.

[2019-10-16 19:46] o2sh commented on #86
I'm confused, did my commit fixed it ?

[2019-10-16 19:47] kjeremy commented on #86
Yes your commit fixed it :)

[2019-10-16 19:48] spenserblack commented on #86
:tada:
Not sure why it worked on my W10 machine before the commit (older version, too) :thinking:

[2019-10-16 20:02] o2sh commented on #86
Did you run the .exe or just via `cargo run` ?

Anyway, I'm not sure my commit is the best way to handle this issue.
I didn't use `control::set_virtual_terminal(bool)`

========================

Thanks again for the help @spenserblack .

I added you as a contributor of the repo. You can merge pull requests when you feel like it's of enough quality and commit to the repo directly 👍

[2019-10-17 14:54] jeremyBanks opened #90 "master (1ba028659c) failing to build on MacOS 10.14.6 (18G103)"
[code]

[code]

[2019-10-17 19:39] spenserblack commented on #90
The build is passing now. @jeremyBanks, is this still an issue?

[2019-10-17 21:26] DanteFalzone0 opened #91 "Support for HolyC"
We should add support for HolyC and make it so that the ascii logo of HolyC looks like it's in the TempleOS font; it should probably have a cross too. And I think its colours should be yellow, white, and cyan

------------------------------

[How to add support for a new language](https://github.com/o2sh/onefetch/blob/master/CONTRIBUTING.md#adding-support-for-a-new-language)

[2019-10-18 14:33] jeremyBanks commented on #90
@spenserblack It builds/installs/runs successfully now after pulling latest `master`, thanks!

[2019-10-18 14:33] #90 closed

[2019-10-18 22:27] #83 closed

[2019-10-18 22:32] o2sh opened #93 "[Pre-procesing]Keep the same spacing between the ASCII art and the info lines"
As of today, the distance/spacing between the ASCII logo and the info bloc is quite inconsistent among the different languages:

* Perl (too much spacing and presence of left indentation):

![61182863-f91f6e00-a628-11e9-9856-8e9b3e1b928f](https://user-images.githubusercontent.com/13710835/66746035-fd099900-ee80-11e9-80ff-394efe0b7a6c.png)

* Swift (no spacing and left indentation):

![56481406-0a0

[2019-10-18 23:35] #73 closed

[2019-10-19 09:58] o2sh commented on #91
@DanteFalzone0  Thank you for your issue!
As you know onefetch relies on tokei for language detection. I just saw [#389](https://github.com/XAMPPRocky/tokei/pull/389). So we'll just have to wait for a new release.

[2019-10-19 10:31] o2sh commented on #77
Don't hesitate to ask for help if need be :smile_cat:

[2019-10-19 16:21] andymac-2 commented on #93
I'd like to claim this issue if possible. Thanks!

[2019-10-20 00:55] o2sh opened #95 "Add flag to disable/enable bold characters"
By default, all info_name (Project, HEAD, version, etc.) and the ASCII art are displayed in Bold.

We would like to have a command line flag to disable boldness on all characters, something like:

[code]

:100: :1st_place_medal:

[2019-10-20 01:48] ccmetz commented on #95
@o2sh Hi, I could work on this issue

[2019-10-20 03:35] DanteFalzone0 commented on #91
Okay :)

[2019-10-20 10:36] #77 closed

[2019-10-20 10:38] o2sh opened #97 "[Code organization] Split main.rs into modules"
As suggested in #70,
It's time to split the main.rs file into multiple files/modules.

Feel free to re-organize the code in a way that improves the navigation inside the project overall.

Thx  :100: :1st_place_medal:

[2019-10-20 11:46] #93 closed

[2019-10-21 07:18] #97 closed

[2019-10-21 09:06] o2sh opened #100 "Suggestions for improvement"
![onefetch](https://user-images.githubusercontent.com/13710835/66692379-57420880-ec8d-11e9-8d29-0d982378170e.png)

If you have any suggestions/remarks that would be beneficial to the project, plz share it here. :smiley_cat:

[2019-10-21 19:57] spenserblack commented on #100
What about a list option (like `onefetch --list`), to list supported languages?

[2019-10-21 20:34] o2sh opened #102 "List all supported languages"
We would like to add a command line flag to display all supported languages,
Something like:

`onefetch -s (--support)`

:100: :1st_place_medal:

[2019-10-21 21:03] mkrl commented on #102
I'd like to give it a go. A good chance to do some Rust 👍

[2019-10-22 16:39] vypxl commented on #102
@mkrl sry I didn't see you, I already did it whoops. Maybe should have called myself out. I'm sorry

[2019-10-22 18:28] mkrl commented on #102
No problem, whatever works. Great job @vypxl

[2019-10-22 18:28] vypxl commented on #102
Thanks and sorry again @mkrl

[2019-10-22 20:30] #102 closed

[2019-10-22 21:37] o2sh opened #104 "Replace Ascii art with custom image"
It's quite a long shot, but here we go...

It would be nice if a user could choose to display an image (*png, *jpg) instead of the ascii art.

This would be done via flag, as such:

`onefetch --source ~/pictures/my-picture.png`

![tempsnip](https://user-images.githubusercontent.com/13710835/67337365-2e403400-f527-11e9-94d8-0c4b28525114.png)

For the brave only 💯 🥇

[2019-10-23 07:52] #45 closed

[2019-10-23 07:53] o2sh opened #105 "Better and more ASCII !! (╯°□°）╯︵ ┻━┻"
Some of our ascii logos look a bit out of shape...

plz help ಥ_ಥ

Don't hesitate to add more languages, if you feel inspired 💯

[2019-10-23 11:52] o2sh opened #106 "Display git version + username"
On top of the repository infos, we would like to show general information (not specific to the repo), like git username (git config user.name) and the version of Git installed on the machine (git --version). Something like -->

![Untitled](https://user-images.githubusercontent.com/13710835/67389745-7c8f1a80-f59b-11e9-943c-bf115685469c.png)

💯 🥇

[2019-10-23 13:11] spenserblack commented on #105
Looks like you're recreating this issue a lot. Are you trying to keep it near the top of the issues list? Why not pin it?

[2019-10-23 14:15] pablodiegoss commented on #106
I've tried to replicate your prototype on #107, what do you think?
![Screenshot from 2019-10-23 11-12-51](https://user-images.githubusercontent.com/8556291/67401847-177cfa00-f586-11e9-8b55-f0927c6c1be8.png)

[2019-10-23 14:20] andymac-2 commented on #104
If you know that your terminal supports X11 you should be able to do this. For a more cross platform solution you'll probably need to open a popup window using something like SDL

[2019-10-23 14:23] o2sh commented on #106
Great start @pablodiegoss

Few remarks:
* The dotted line has to match the length of the displayed info, in this case: _Pablo Diego: git version_ 2.20.1
* You have to handle the case where the git username is unknown --> Don't print ":" at the start

Looking forward to merge your PR 👍

[2019-10-23 14:47] pablodiegoss commented on #106
Nice!
I'll work on those remarks then :)

[2019-10-23 15:22] pablodiegoss commented on #106
After formatting the line and username case it looks like this

With username:
![Screenshot from 2019-10-23 12-17-33](https://user-images.githubusercontent.com/8556291/67408432-56fc1400-f58f-11e9-805a-a5d1242bfa47.png)

And without:
![Screenshot from 2019-10-23 12-18-30](https://user-images.githubusercontent.com/8556291/67408440-59f70480-f58f-11e9-93d0-43015470a043.png)

[2019-10-23 19:12] d3zd3z commented on #31
I "solves" the issue in that it provides another way to work around it. But it is at least more meaningful as a Tokei-specific file.

[2019-10-23 19:24] o2sh commented on #106
Looking better @pablodiegoss

Last remarks:

* The text has to be diplayed in bold (except the dotted line), you should check #99 (already merged) to make sure that we can disable boldness on your text too
* We can't see it in your example, but the text should be displayed in color (like the info titles); by text I don't include **the dotted line and the separator** --> only git username and git v

[2019-10-24 15:15] Kloenk opened #109 "nix derivation"
I would like a Nix derivation, so one can build with nix-build, and maybe someone could even get it into nixpkgs, so it is available on any system running nix.
This feature would need a Cargo.lock file, and a default.nix, I will see that I build that files

[2019-10-24 15:27] pablodiegoss commented on #106
I've updated the color and bold o/
![Screenshot from 2019-10-24 12-22-34](https://user-images.githubusercontent.com/8556291/67500426-05b85700-f659-11e9-874c-84ef3269e64a.png)

[2019-10-24 16:55] pablodiegoss commented on #106
I'm not quite sure how to do that, because the `write_buf` function that prints and paint texts breaks a line after printing something. So if i leave the ":" as white the next printed text with the git version will be in a new line. If i change the `write_buf`to not break lines, all the code should be changed to add line breaks.
Should i create another `write_buf` just for that line break?

[2019-10-24 17:05] pablodiegoss commented on #106
Sorry, forgot about the separator, should be fine now.

[2019-10-24 19:14] #106 closed

[2019-10-25 12:02] spenserblack commented on #95
Closing since #99 has been merged.

[2019-10-25 12:02] #95 closed

[2019-10-26 13:37] o2sh opened #112 "Limt the number of language statistics"
For repositories using multiple languages, like this [one](https://github.com/dart-lang/sdk):

![DeepinScreenshot_select-area_20191026152815](https://user-images.githubusercontent.com/13710835/67620268-4fde3b80-f805-11e9-8ea1-cb69a4dde271.png)

We would like to limit the number of `language_stat` to N (6 for example), like GH does:

![DeepinScreenshot_select-area_20191026153248](https://user-image

[2019-10-26 13:43] o2sh commented on #86
The output is broken again 😢

![image](https://user-images.githubusercontent.com/13710835/67620455-481f9680-f807-11e9-83b5-be532413bbbb.png)

[2019-10-26 15:35] CephalonRho commented on #104
Hey, I made a pull request to add support for this with the kitty terminal graphics protocol ( #113 ).
This works pretty well, but has very limited support (right now only kitty itself implements that protocol) so I also added a basic trait to have multiple image backends for different terminal emulators.
Other options for displaying images like this are Sixel or more emulator specific escape code

[2019-10-26 22:09] spenserblack commented on #86
😱
I didn't really have a chance to test it on Windows (since the colors worked *before* the fix for me for some reason, still not sure why).
Did I perhaps reverse the logic [here](https://github.com/o2sh/onefetch/blob/f5296f2bd338c9060017438bef5ca28b7823142a/src/main.rs#L83) when getting it to compile on Linux?

[2019-10-27 13:31] #112 closed

[2019-10-27 17:27] odebroqueville opened #116 "Pls make this installable via npm"

[2019-10-27 18:36] achikin commented on #34
Any updates on this?

[2019-10-27 19:58] Kloenk commented on #116
This is a rust application, and ```npm``` is for node.js packages only, so there is now way of doing that.

[2019-10-27 19:59] o2sh commented on #109
@Kloenk the NixOs [build ](https://travis-ci.org/o2sh/onefetch) just failed, any idea ?

[2019-10-27 20:02] Kloenk opened #117 "cargo test after cargo build, or cargo build --release"
Looking forward to merging your PR 👍 ! Just one quick question:
Why move `cargo build` below `cargo test`? Tests require a successful build. If the project has not been built, `cargo test` will build it, so building *after* tests have run successfully is a bit redundant.

_Originally posted by @spenserblack in https://github.com/o2sh/onefetch/pull/110_

This is still unresolved, as we did not deci

[2019-10-27 20:05] Kloenk commented on #109
yep, new rust source commits, but the sha256 sum in the default.nix was not updated.

line 19 in default.nix must have the value ```0cpfjxn6nqsrnmgvjzr17n6xbbyfl9c91d5kbrmxb6jyig98k6aq```

[2019-10-27 20:09] spenserblack commented on #109
@Kloenk, does this mean `default.nix` will need to be updated each time the master branch has been updated?

[2019-10-27 20:10] Kloenk commented on #109
yes, because of the vendor sha256 sum

[2019-10-27 20:26] o2sh commented on #109
yeah, we cannot keep that on the master branch.
Maybe create a second branch dedicated to test NixOs build.

But I think we should rollback the changes on the travis.yml file

[2019-10-27 20:26] spenserblack commented on #109
Hmmm... 🤔 Perhaps it's best to *not* test the nix-build in the Travis build. At least not on the master branch. If nix-build must be pointed to specific commits, it would be irrelevant for testing PRs (since nix-build would be building a SHA, not the latest commit in the PR), and the build would fail *at least* once after each merged PR, since I don't think we can expect the maker of the PR to fix

[2019-10-27 20:27] o2sh commented on #109
@spenserblack we're in sync 😄

[2019-10-27 20:31] Kloenk commented on #109
I agree that there is no need for the ```nix-build``` test.

If we delete the default.nix that's also fine with me, but please keep the Cargo.lock file updated, at least with every tagged version, because that is needed for a release in nixpkgs. the default.nix is not needed in this repo for the package there.

[2019-10-27 20:31] spenserblack commented on #117
Thanks, completely missed that!
@o2sh, do you have a preference to the order that Travis-CI does these tasks?

[2019-10-27 20:31] Kloenk commented on #117
I still believe that we should do a release build for testing.

[2019-10-27 20:34] spenserblack commented on #109
Makes sense to me 👍
I agree that `Cargo.lock` should remain tracked. I believe it's standard for binaries to have their lock files tracked when available.

[2019-10-27 21:10] floitsch opened #118 "Screenshot in Readme shows wrong license"
I didn't try the script, but the screenshot of the dart sdk repository [0] states that the sdk is GPLv3. The actual license of the dart sdk is BSD:
https://github.com/dart-lang/sdk/blob/master/LICENSE

[0] https://raw.githubusercontent.com/o2sh/onefetch/master/assets/kitty.png

[2019-10-27 22:04] spenserblack commented on #118
I just cloned down dart-lang/sdk, ran onefetch (as of d66e76f875eae6c7981d4f6626d321d8dd064dda) on it, and got an unknown license (`??` in the License field). Which is a bit better than displaying the wrong license.
🤔 @CephalonRho, did you happen to change the license in your local repository for a better-looking screenshot?

[2019-10-27 22:07] spenserblack commented on #118
Just checked out the documentation for `license`. 0.7.1 (the version we're using) doesn't seem to support BSD licenses, but 0.8.0 will.

[2019-10-27 22:24] CephalonRho commented on #118
I didn't make that screenshot, and my local copy of the dart sdk is unmodified. Running onefetch on the revision in the screenshot shows an unknown license for me too.
![image](https://user-images.githubusercontent.com/28684831/67642874-92d90580-f910-11e9-86cd-ba6c1b04fa93.png)

Seems like either @o2sh is using a modified version of the dart sdk or `license` is behaving weirdly because it doesn't

[2019-10-27 22:33] o2sh commented on #118
Bingo :sweat_smile:

Let's upgrade then :+1:

[2019-10-27 22:53] o2sh opened #119 "Upgrade [license] dependency 0.7.1 --> 0.8.0"
The [License](https://github.com/evenorog/license) API seems to have changed. After upgrading, I'm getting the following errors/warnings:

![DeepinScreenshot_select-area_20191027235053](https://user-images.githubusercontent.com/13710835/67643169-a4bca780-f914-11e9-81b7-0468e287b463.png)

[2019-10-27 22:53] #116 closed

[2019-10-27 23:08] #104 closed

[2019-10-27 23:17] Symbian9 opened #120 "Thread 'main' panicked"
**OS:** Debian 9.x (x86_64)

**Version:** `1.6.5` (official binary) - https://github.com/o2sh/onefetch/releases/download/v1.6.5/onefetch_linux_x86-64.zip

[code]

[2019-10-27 23:28] o2sh opened #121 "Extend Image backend support to SIXEL"
As of today we can only display images using the kitty terminal graphics protocol #104

The next step would be to add support to [SIXEL](https://github.com/saitoha/libsixel)

A Sixel encoder/decoder aleady exist for Rust --> https://github.com/meh/rust-sixel which can be used as a starting point.

----
For the brave only 💯 🥇

[2019-10-27 23:42] spenserblack commented on #118
Looks like I was mistaken. There's only partial BSD licence support. Even though there are [several BSD license structs](https://docs.rs/license/0.8.0/license/index.html#structs), A [glance over the source code](https://docs.rs/license/0.8.0/src/license/lib.rs.html#436-497) makes me think there's no support yet for determining what license is in use.

[2019-10-27 23:43] jyn514 commented on #120
Problem is here, it shouldn't be calling unwrap on user input. The quick and dirty way to fix this is `expect`.

https://github.com/o2sh/onefetch/blob/master/src/main.rs#L192

[2019-10-27 23:48] spenserblack commented on #120
I think this has been fixed by 91b554c918e485bf4ad56ea75794fa0fb64717af. The issue was that one of the functions for getting repo data was not using the directory passed by the user. It would always look into the current directory, causing inaccurate info when run in a different repo than the directory passed, and the error you just experience when run from a directory that is not a repo.

[2019-10-27 23:58] pawamoy opened #122 "Size: 0 bytes (90 files)"
Well... it's in the title :smile:

Running it on a local clone of https://github.com/pawamoy/aria2p.

[2019-10-27 23:59] spenserblack commented on #120
@jyn514, that unwrap is actually OK, and should never cause a panic. Onefetch's `clap::App` configuration guarantees that `"directory"` will always have a value, as it has a default value. See [this line](https://github.com/o2sh/onefetch/blob/master/src/main.rs#L104).

[2019-10-28 00:01] pawamoy opened #123 "ISC license not recognized"
It seems that the ISC license is not recognized. I saw comments about upgrading the `license` dependency, maybe that would fix it.

[2019-10-28 00:05] spenserblack commented on #122
Size is calculated by the first line returned from the command `git -C <your-repo> count-objects -vH` Could you show us the output of this command? (`-C <your-repo>` can be omitted if you're running git in the repo in question). Thanks!

[2019-10-28 00:17] pawamoy commented on #122
Sure!

[code]

[2019-10-28 01:45] spenserblack commented on #122
Yes, that's correct. Sorry, I was wrong earlier in saying it was the "first line". Was thinking of a different info field 🤦‍♂
Could you run this command in your local repo?
[code]

[2019-10-28 01:47] pawamoy commented on #122
No problem :slightly_smiling_face:

The command `find .git/objects -type f` outputs 1995, I don't think you want them all, so here are the first 10:

[code]

[2019-10-28 01:50] spenserblack commented on #122
Try either of these commands.
[code]
What I'm thinking is that there aren't any pack files in your local repo for some reason. I'll need to read up on git's behavior some more to figure out why that would happen.

[2019-10-28 01:56] pawamoy commented on #122
Indeed, first command outputs nothing, second command says `total 0`.

Running `git gc --prune=now` in another repo where `onefetch` reported a size of `0` seems to have fixed the issue. From that [stackoverflow thread](https://stackoverflow.com/questions/30999879/git-garbage-size-out-of-control-need-understanding), `git gc` also "repacks" the repository, so it makes sense (though I don't understa

[2019-10-28 02:52] aditsachde commented on #120
Sorry I can't help, but I'm also having the same issue, with the exact same stack trace, using the binary and a similar command. Are there any workarounds?

[2019-10-28 08:18] o2sh commented on #120
Build from HEAD with `cargo run`

----
@aditsachde @Symbian9 we're gonna push a new release by the end of the week. Hopefully, this will resolve your issue.

[2019-10-28 08:40] o2sh commented on #123
https://docs.rs/license/0.8.0/license/

![image](https://user-images.githubusercontent.com/13710835/67663940-e118f380-f966-11e9-8dce-226d6aa455d7.png)

#119 will resolve it, hopefully

[2019-10-28 08:42] o2sh commented on #118
#119

[2019-10-28 09:12] Symbian9 commented on #120
OK.

Please, do not close this issue until new release binary would be available.

[2019-10-28 10:49] kipters commented on #86
Did you test on both the old conhost.exe console and the new Windows Terminal? Maybe there's a difference there

[2019-10-28 11:31] pawamoy commented on #122
I think we can close this issue since it's not `onefetch`'s responsibility to run git commands in local repositories :smile:

Reopen if needed!

[2019-10-28 11:31] #122 closed

[2019-10-28 13:09] spenserblack commented on #86
Just pushed up a new commit which should fix the issue. Was able to replicate behavior on my Windows machine.

[2019-10-28 17:49] #86 closed

[2019-10-28 18:21] o2sh commented on #120
@Symbian9 a new binary is available

[2019-10-28 19:33] spenserblack opened #125 "Language name support mismatch"
This command should display each supported ASCII art.
[code]
Several of these languages will map to unknown, however, causing the default ASCII art to be displayed.
This is because some listed languages have special characters (C++, C#, Objective-C), yet custom ASCII art cannot take special characters.
[code]

I think it can be a bit confusing if `onefetch -l` lists the language as "C++", yet that

[2019-10-29 06:46] Symbian9 commented on #120
Not work on Debian 9 stretch:

[code]

Please, decrease dependency!

[2019-10-29 08:35] portgasd666 commented on #119
@o2sh  I will work on this

[2019-10-29 09:59] aitor opened #128 "Error compiling 1.7.0"
Trying to compile a fresh pull for the tag 1.7.0 (9769425)

[code]

[2019-10-29 10:11] davep commented on #100
It would be handy if the tool could work anywhere within a git repo, rather than only in the root of the repo.

For example, rather than:

[code]

you get:

[code]

[2019-10-29 10:15] o2sh commented on #128
Are you sure you're compiling from HEAD ?

[2019-10-29 10:27] o2sh commented on #100
Thanks for your suggestion @davep

We could think of a way to search for the `.git` folder in any of the parent directories as a marker for the root of the repo and execute onefetch on it 👍

Let's work on that 💯

As of today, there is the `-d` flag for that.

[2019-10-29 10:31] davep commented on #100
Yup, [that's what I do in a git-oriented tool]( https://github.com/davep/git2gantt/blob/c9470f37f7d395d4a14afdac4ac1ec7163f09c05/git2gantt#L33-L55) I wrote a while ago. I'd offer a PR here but I'm afraid I've yet to write a line of Rust code. (one day, one day...)

Thanks for considering the change.

[2019-10-29 12:12] jyn514 commented on #120
That's a separate issue, and probably can't be fixed while keeping a dynamically linked libc

[2019-10-29 12:33] o2sh opened #129 "Run Onefetch in any of the repo's subfolders"
As suggested by @davep in #100 , It would be handy if the tool could work anywhere within a git repo, rather than only in the root of the repo.

The idea would be to search for the `.git` folder in any of the parent directories as a marker for the root of the repo and to execute onefetch on it 👍

If it fails to find it, the error message should be:

`fatal: not a git repository (or any of the pare

[2019-10-29 12:35] o2sh commented on #100
Well, if you feel like getting your hands dirty, I created an issue on that matter #129

[2019-10-29 12:42] Symbian9 commented on #120
FTR, on Debian 9 there is `GLIBC_2.24`, so just re-build binary with lower version dependency.

As I know, latest *Blender* 2.8x binary built with `GLIBC_2.17`.

[2019-10-29 12:43] Symbian9 commented on #120
FTR, on Debian 9 there is `GLIBC_2.24`, so just re-build binary with lower version dependency.

As I know, latest *Blender* 2.8x binary built with `GLIBC_2.17`.

[2019-10-29 13:02] orklann opened #130 "Any binary for macOS?"
I can not find any binary for macOS, but I am lazy to build it myself,
can you build one for macOS?

[2019-10-29 14:05] Kloenk commented on #109
I created a pr on nixpkgs for version 1.7.0

nixos/nixpkgs#72254

[2019-10-29 16:09] igroeg opened #131 "Onefetch counts Merge Commits"
Think that it's not ok to count merge commits since they are with no value at all and it makes wrong statistics.

[2019-10-29 19:44] #119 closed

[2019-10-29 19:57] spenserblack commented on #131
Should be simple; there's a `--no-merges` flag for `git rev-list`.
But do merge commits really have no value? Some of them can have changed, or even new code.

[2019-10-29 20:16] o2sh commented on #131
I think we should keep the default behaviour as it is and add a flag that would enable `--no-merges` on `get_commits` and `get_authors`

[2019-10-30 02:53] rockisch commented on #129
Seems like the `git2` package supports this kind of usage with the `discover` method:
https://docs.rs/git2/0.10.1/git2/struct.Repository.html#method.discover

I'm opening a PR for that, although not sure I should use the error message on the description, since that's not how the other error messages are formatted.

[2019-10-30 09:07] aitor commented on #128
Yep, that's what I did 👍 .

[code]

[code]

My line 12 is exactly that one:

[code]

[2019-10-30 09:08] butuzov commented on #130
brew formula was release yesterday.

[2019-10-30 09:16] orklann commented on #130
How can I install with homebrew?

[code]

[2019-10-30 09:18] butuzov commented on #130
did you
[code]

[2019-10-30 09:26] butuzov opened #133 "0 bytes and No License"
I made a test on the old repo, and got some weird result.

[code]

its GPL 2.0 and files aren't empty!

[code]

[2019-10-30 09:27] o2sh commented on #123
@pawamoy Can you compile from HEAD and try again ?

[2019-10-30 09:27] orklann commented on #130
I works now by running `brew update` and install it with brew. Thank you for the help.

[2019-10-30 09:29] o2sh commented on #133
Check #122

[2019-10-30 09:34] butuzov opened #134 "-d, --dir gives me "thread 'main' panicked" and other errors"
Trying to run `onefetch` against an existing directory and having

[code]

here is with `RUN_BACKTRACE=1`

[code]

------
Trying to run `onefetch` against an **not**existing directory and having

[code]
----
Trying to run `onefetch` with -d or --dir empty

[code]

Os: Darwin
Version: onefetch 1.6.5

[2019-10-30 09:34] o2sh commented on #134
This was also fixed in 1.7.0

[2019-10-30 09:34] butuzov commented on #130
yw. close the issue =)

[2019-10-30 09:35] butuzov commented on #134
wow. got it. will wait for the next brew release =)

[2019-10-30 09:40] o2sh commented on #130
Thanks for the help @butuzov
I wasn't even aware a onefetch was pushed to Homebrew...

Unfortunately, this version is a little updated.

----
@erikgaal  Thanks a lot for submitting onefetch to HomeBrew, could you maybe submit 1.7.0?
I don't have MacOs, unfortunately...

[2019-10-30 09:42] erikgaal commented on #130
Sure, @o2sh!

[2019-10-30 09:45] butuzov commented on #134
[code]

working!

[2019-10-30 09:45] #134 closed

[2019-10-30 09:47] butuzov commented on #133
I just did.

got a better picture, but still 0 bytes and no License

[code]

[2019-10-30 09:49] o2sh commented on #133
did you try?

[2019-10-30 09:52] erikgaal opened #135 "1.7.0 release tagged incorrectly"
Hi there,

It seems that the 1.7 release was tagged incorrectly as `1.7.0` instead of `v1.7.0` as per convention. The `v` is missing before the version number. When this is tagged I can update the Formula on Homebrew too.

[2019-10-30 09:54] butuzov commented on #133
Got it.

After cleanup I see size. No License though

[code]

[2019-10-30 09:57] erikgaal commented on #34
@achikin There is a Formula available in `homebrew-core` now!

[2019-10-30 09:58] o2sh commented on #135
Yes, that was voluntary. I tried following [Semantic Versioning](https://semver.org/spec/v2.0.0.html).

Does it has to be tagged v1.7.0?

[2019-10-30 09:59] erikgaal commented on #135
It doesn't _need_ to be tagged as `v1.7.0` for Homebrew, but the _general_ convention is to prefix version with `v`.

[2019-10-30 10:13] o2sh commented on #135
done

[2019-10-30 10:34] erikgaal commented on #135
Thanks!

[2019-10-30 10:34] #135 closed

[2019-10-30 10:36] erikgaal commented on #130
https://github.com/Homebrew/homebrew-core/pull/45975

[2019-10-30 12:30] spenserblack commented on #129
Closed by #132
Thanks, @rockisch!

[2019-10-30 12:42] spenserblack commented on #128
Got it. I'm on version 1.38.0.
[this](https://doc.rust-lang.org/edition-guide/rust-2018/ownership-and-lifetimes/non-lexical-lifetimes.html) Has been introduced in 1.36 for 2015 edition (which onefetch is on). I think this might be your issue.
If you have rustup installed, try running `rustup update` and check again.

[2019-10-30 12:45] joseluisq opened #136 "Support for Julia"
I would be great if you can add support for [Julia](https://julialang.org/) projects.

[2019-10-30 12:48] joseluisq opened #137 "Support for V"
I would be great if you can add support for [V](https://vlang.io/) projects.

[2019-10-30 15:56] aitor commented on #128
Yep… that fixed it 👍

I'd love to improve the docs about this but the instructions are provided via wiki (and therefore we can't PR changes).

I'd suggest to simply move them to a INSTALL.md in the repo, or even directly to the README.md, but in the meantime, here you have:

[code]

[2019-10-30 15:56] #128 closed

[2019-10-30 20:06] singularitti opened #138 "Please support language Fortran 90"
Fortran 90 standard: https://wg5-fortran.org/N001-N1100/N692.pdf

[2019-10-30 20:26] pawamoy commented on #123
Just tried it, it still does not recognize the ISC license. However I'm not using the EXACT text of the license, as I'm adding `ISC License` then `Copyright (c) year1-year2, FirstName Name` at the top. GitHub and GitLab successfully recognize it though.

[2019-10-30 20:51] o2sh commented on #129
The function `get_project_license` doesn't work in subfolders

[2019-10-30 21:06] rockisch commented on #129
Damn, I ran a little test but didn't check the individual fields, my bad.

I think `git2::Repository` has some kind of method to get the root dir of the repo. I can check later when I'm home.

[2019-10-30 21:15] o2sh commented on #136
![DeepinScreenshot_select-area_20191030221446](https://user-images.githubusercontent.com/13710835/67899511-b8f5e400-fb62-11e9-9159-0ef983afaf36.png)

[2019-10-30 21:22] o2sh commented on #137
V doesn't seem to be supported by [tokei](https://github.com/XAMPPRocky/tokei#supported-languages)...yet

---
tokei is the crate used by onefetch to detect languages.

[2019-10-30 22:58] joseluisq commented on #136
Awesome!

[2019-10-30 22:59] #136 closed

[2019-10-30 23:11] joseluisq commented on #130
I have tested via `brew` today and it works!

[code]
I think the update could come with some README updates specifying its use.

[2019-10-30 23:14] joseluisq commented on #130
Sorry doc it's aready there https://github.com/o2sh/onefetch/wiki/Installation#macos-homebrew

Issue can be closed.

[2019-10-31 03:03] #130 closed

[2019-10-31 19:14] #131 closed

[2019-10-31 20:34] ZapAnton opened #143 "Add support for Perl 6"
https://raku.org/

----------------------

[How to add support for a new language](https://github.com/o2sh/onefetch/blob/master/CONTRIBUTING.md#adding-support-for-a-new-language)

[2019-10-31 20:42] ZapAnton opened #144 "Support for Crystal"
https://crystal-lang.org/

----------------------

[How to add support for a new language](https://github.com/o2sh/onefetch/blob/master/CONTRIBUTING.md#adding-support-for-a-new-language)

[2019-10-31 20:44] ZapAnton opened #145 "Support for D"
https://dlang.org/

[2019-11-01 00:00] o2sh commented on #145
![image](https://user-images.githubusercontent.com/13710835/67993774-a357eb80-fc42-11e9-82bf-1a794346e7ac.png)

[2019-11-01 07:46] ZapAnton commented on #145
Thank you, looks good.

[2019-11-01 10:02] lem0na opened #146 "1.7.0 release wrong version"
1.7.0 shows wrong version - 1.6.5
probably due this configuration: https://github.com/o2sh/onefetch/blob/a87ad8b1df9216f100bfd4de831ab68a8d334538/default.nix#L16

[2019-11-01 11:47] #145 closed

[2019-11-01 21:01] o2sh commented on #138
![image](https://user-images.githubusercontent.com/13710835/68056331-22a4f800-fcf3-11e9-8eff-787ecb2cf596.png)

[2019-11-01 21:12] #129 closed

[2019-11-01 21:13] #51 closed

[2019-11-02 02:08] singularitti commented on #138
Thank you!

[2019-11-02 02:09] #138 closed

[2019-11-02 20:18] o2sh opened #147 "[License Detection] Switch to askalono"
Onefeth currently relies on [license](https://github.com/evenorog/license/blob/master/src/lib.rs), for license detection.

After looking at the code, it seems only capable of detecting -->
[code]

Which is clearly unsufficient...hence #133 #118 and #123

[Askalono](https://github.com/amzn/askalono) seems to be the right candidate for the job,.

Let's migrate 💯

[2019-11-02 20:42] ebroto commented on #147
I would like to work on this one

[2019-11-02 20:45] KathyReid opened #148 "Please add support for Markdown"
Firstly, the project is amazing!
Thank you for all your efforts.

I do a lot of documentation and writing work in Markdown, is it possible to support Markdown?
If you point me to documentation on how to add support, I'm very happy to have a go at a PR.

Markdown is [supported by Tokei](https://github.com/XAMPPRocky/tokei#supported-languages)

_The reason I think Markdown is not supported yet is th

[2019-11-02 21:39] o2sh commented on #148
![DeepinScreenshot_select-area_20191102223827](https://user-images.githubusercontent.com/13710835/68077294-8c8bd300-fdc1-11e9-8470-f69b7209b7c3.png)

[2019-11-02 22:03] #148 closed

[2019-11-03 14:24] #21 closed

[2019-11-03 14:25] #34 closed

[2019-11-05 14:13] #125 closed

[2019-11-05 20:09] #147 closed

[2019-11-05 22:59] o2sh commented on #133
Hi @butuzov, can you please try again? -- after building from head or via the 2.0.0 release binary

[2019-11-05 22:59] #118 closed

[2019-11-05 23:05] o2sh commented on #123
@ebroto Now, when I run onefetch on [aria2p](https://github.com/pawamoy/aria2p), I get:

![image](https://user-images.githubusercontent.com/13710835/68253659-c7dc0b00-0028-11ea-8381-2d2001ce8a64.png)

which is incorrect as the License should be ISC.

However, when I run askalono by itself -->

![image](https://user-images.githubusercontent.com/13710835/68253747-0376d500-0029-11ea-8e65-9ceebfc8e92b

[2019-11-06 06:04] butuzov commented on #133
@o2sh sure thing!

[code]

I see it as resolved!

P.S. However, how hard is to call `git gc` in case if repo size 0 with `a bunch of files in it`?

[2019-11-06 14:06] gosha20777 opened #151 "jupyter notebook support"
Please add jupyter notebook (*.ipb) support

[code]
or

[code]

**examlpe repos**
- https://github.com/lizaalert/lacmus
- https://github.com/gosha20777/neuro-inverse-kinematic

[2019-11-06 20:26] #123 closed

[2019-11-07 21:51] acarl005 opened #153 "Option to disable the colored squares at the bottom"
Hi @o2sh, I love this program! I like how I can customize the output, except I cannot remove the colored squares at the bottom.

<img width="1093" alt="Screen Shot 2019-11-07 at 4 49 42 PM" src="https://user-images.githubusercontent.com/8334252/68430830-d63c3b00-017e-11ea-8c4a-b07a8898d3b7.png">
It doesn't have any relevance to the git repo. A command line option to remove it would be awesome.

[2019-11-08 22:54] o2sh commented on #153
All right, I'll add a command flag to hide the color blocks 👍

[2019-11-09 11:40] o2sh commented on #153
![image](https://user-images.githubusercontent.com/13710835/68528023-1b32af80-02ee-11ea-8776-b1eb8e904436.png)

[2019-11-09 16:19] Phundrak opened #156 "Wrong license detected"
**Wrong license detected**
When testing onefetch against [this project](https://labs.phundrak.com/phundrak/langue-phundrak-com) ([github mirror](https://github.com/phundrak/langue-phundrak-fr)), I noticed onefetch detected the MPL-2.0 license, despite the absence of said license. The two licenses for this project are the AGPL-3.0 and BY-NC-SA, the former being in its own file [agpl-3.0.md](https:/

[2019-11-09 16:29] #121 closed

[2019-11-09 20:04] ebroto commented on #156
Hi, thanks for reporting the issue! We were indeed using an invalid minimum confidence threshold for the license detection engine. It should now report an unknown license for the linked repo.

I would prefer to stick to the most followed convention and look for files matching `LICENSE*` and `COPYING*`, otherwise I feel that trying to find licenses in other files could be slow and less reliable.

[2019-11-09 23:12] #156 closed

[2019-11-10 00:47] Phundrak commented on #156
I can confirm the issue has been resolved, the license is now displayed as unknown. Thank you!

[2019-11-10 12:49] o2sh opened #159 "Publish v2.1.0 to HomeBrew + MacOS binary"
Hi @erikgaal,

Would you be so kind as to publish v2.1.0 to Homebrew and maybe attach the binary for MacOS to the latest release?

[2019-11-10 12:59] erikgaal commented on #159
https://github.com/Homebrew/homebrew-core/pull/46590

[2019-11-10 13:19] erikgaal commented on #159
Hi @o2sh,

I'm looking into setting up a script using GitHub Actions that automatically published new version to Homebrew. But we (you) need to request access for it [here](https://github.com/features/actions/signup/?account=o2sh). Would you like to do that?

Thanks!

[2019-11-10 13:22] o2sh commented on #159
Done :+1:

[2019-11-10 14:23] o2sh commented on #153
Hi @acarl005, Is this what you wanted?

Can we close this issue?

Thanks :+1:

[2019-11-10 15:24] erikgaal commented on #146
Hi @lem0na,

Can you provide more information please? What platform, which installation method? I am not able to reproduce your issue.

[code]

[2019-11-10 22:12] spenserblack commented on #146
@erikgaal, I think what happened is that onefetch at tag 1.7.0 \(not v1.7.0\) has the [wrong version in `Cargo.toml`](https://github.com/o2sh/onefetch/blob/1.7.0/Cargo.toml). The executable\(s\) for onefetch 1.7.0 were probably compiled at this tag, which would result in 1.6.5 being reported as the version.

If this is the case, those binaries may need to be re-compiled and re-uploaded.

@lem0na,

[2019-11-11 09:36] davep commented on #129
Updated locally and it's working great. Just wanted to say thanks for doing this. Very much appreciated.

[2019-11-11 14:13] #117 closed

[2019-11-12 13:09] erikgaal commented on #159
2.1.0 is now available on Homebrew

[2019-11-12 13:09] #159 closed

[2019-11-14 09:32] AKolakowska47 opened #163 "Support for Groovy"
I would be awesome if you can add support for Groovy :)

[2019-11-14 20:40] spenserblack opened #164 "Bold makes all colors bright"
It *looks like* `onefetch -c 0 8` uses BrightBlack for both colors, even though it actually doesn't.
`onefetch -b -c 0 8` properly looks like it uses Black for primary color and BrightBlack for secondary color.
This appears to be a limitation with ANSI, since `echo -e "\e[0;30;1mBlack\e[0m"` and `echo -e "\e[0;90;1mBrightBlack\e[0m"` both look the same in xterm.
Perhaps the bold flag should defaul

[2019-11-14 23:18] o2sh commented on #163
![DeepinScreenshot_select-area_20191115001752](https://user-images.githubusercontent.com/13710835/68904126-6f4df180-073d-11ea-83ef-8e892084e4a8.png)

[2019-11-16 13:22] o2sh opened #165 "Add Pending changes info line"
As an additional info line, we wish to inform the user about the pending changes (`git status`) on the current Repo, something like:

![DeepinScreenshot_select-area_20191116141648](https://user-images.githubusercontent.com/13710835/68993758-c3f78680-087b-11ea-8de5-cc0d0d6a1fa4.png)

which reads as --> `6 modified files, 2 new files, 7 deleted files`

This line should be shown only if pending chang

[2019-11-16 19:26] o2sh commented on #163
@AKolakowska47 are you okay with this?

If so, can you plz close this issue.

Thanks

[2019-11-17 08:15] ebroto commented on #133
I would not expect a "read only" tool like onefetch to make changes in a repo.

IMHO we should not run `git gc`.

[2019-11-17 19:33] o2sh commented on #164
I fail to see any clever way to approach this, It's important to have a consistent behavior across terminals. So maybe, we should consider using only 8 colors instead of 16; I think we should keep the bold format as default.
---
BTW, Thanks for pointing that out @spenserblack :+1:

[2019-11-18 07:10] AKolakowska47 commented on #163
@o2sh Your commit seems to be OK, but  I'm waitin' for binary to check it ;)
When the new one (2.1.1.)  will be available?

[2019-11-18 14:29] spenserblack commented on #164
Yeah, I think that may be the best way. The only other way I could think of would be giving the user the option to select 16-color mode, which would automatically disable bold. But that might be behavior users would find confusing.
Tested this in Powershell too, recently, same behavior seems to apply.

So I guess the best way would be to remove half the color options and color blocks :crying_cat_f

[2019-11-18 14:57] spenserblack commented on #163
@AKolakowska47 [This binary](https://github.com/o2sh/onefetch/files/3859156/onefetch.tar.gz) was built from 90bdc4ecb48d71e23871e4266a96e5d381c7d226

[2019-11-18 22:33] #165 closed

[2019-11-25 20:34] filalex77 commented on #109
@Kloenk I very much appreciate the effort you did in your PR, but there were a couple issues I found:
- your `default.nix` uses some unusual idioms, indicated by the reviewers' comments
- it specifies version 1.7.0, whether the current latest is 2.1.0
- having `default.nix` in `onefetch`'s repository doesn't help a lot - `nixpkgs` uses `rustPlatform` uniformly
- there are some conflicts with the `

[2019-12-10 04:26] philer opened #171 "Suggestion: Ignore /doc* when determining primary language."
Case in point, I use automatically generated documentation which is a whole bunch of html files, so onefetch thinks my project is about html. I know I can specify a language via the -a switch but it still seems like a fairly easy change to avoid this. It is very common to include documentation in /doc or /docs or /documentation, so I suggest ignoring these directories when determining the project'

[2019-12-10 14:57] o2sh commented on #171
Hi @philer
You can add a `.tokeignore` file at the root of your repo with all the folders you want onefetch to ignore.

[2020-01-04 13:13] cireu opened #172 "Failed to recognize Emacs Lisp repo"
Reproduce step

[code]

Show repo as Markdown repo but expect Elisp repo.

[2020-01-04 18:03] #153 closed

[2020-01-04 18:50] o2sh commented on #172
Hi @cireu,
I've just pushed a new [release](https://github.com/o2sh/onefetch/releases/tag/v2.2.0) which added support for Elisp.

Plz try again :+1:

[2020-01-04 18:54] o2sh commented on #163
[Onefetch 2.2.0 ](https://github.com/o2sh/onefetch/releases/tag/v2.2.0) is now available.

[2020-01-05 02:44] cireu commented on #172
Nice job! :+1:

[2020-01-05 02:44] #172 closed

[2020-01-13 01:33] #163 closed

[2020-02-14 07:54] MisterBianco opened #173 "Language Request: Dockerfile"
I have use for the dockerfile "language" support.

I dont know what else to add here. :/

[2020-02-14 22:36] o2sh commented on #173
![2020-02-14_23-34](https://user-images.githubusercontent.com/13710835/74574056-b1781080-4f82-11ea-907f-a4b47738633f.png)

[2020-02-15 01:05] MisterBianco commented on #173
Hell yes.

[2020-04-14 19:50] emacsomancer opened #174 "Language: Racket?"
For a repo with a mix of .org and .rkt files, it only seems to 'see' .org. E.g.: https://gitlab.com/dustyweb/terminal-phase

[2020-04-29 10:28] yermulnik opened #175 "onefetch: /lib/x86_64-linux-gnu/libm.so.6: version `GLIBC_2.27' not found (required by onefetch)"
Getting this error with a downloaded version of binary `2.2.0` — `onefetch_linux_x86-64.zip`
OS: Linux Mint 18.3 Sylvia x86_64

[code]

[2020-04-29 10:34] yermulnik commented on #175
`libc6 2.23` is the default version shipped with Ubuntu 16.04 Xenial.

[2020-04-29 19:09] o2sh commented on #174
Thanks for pointing that out @emacsomancer
It should work fine now.

![2020-04-29_21-08](https://user-images.githubusercontent.com/13710835/80636390-aac74880-8a5d-11ea-9f8c-b98d5c3eecd8.png)

[2020-05-05 03:09] #174 closed

[2020-06-02 16:54] Andonome opened #176 "LICENCE.md file not detected"
I say, old boy - would you mind terribly putting in a little of the Queen's English?

None of my repos have registered my LICEN*C*E.md file, and it looks like the culprit is divergent spelling from across the pond.

Yours greatefully,

 - Lord Gitimus.

[2020-06-03 20:00] Andonome commented on #176
Top show, old boy!

[2020-06-03 20:00] #176 closed

[2020-06-15 18:24] ricab opened #178 "Support for filtering out subtree(s) when calculating stats"
Just want to suggest an addition to this very nice project. I would find it useful if onefetch had an option to filter out directories and/or files when calculating stats like Languages, LoC and Size.

I find that current results are quite skewed for projects that include many submodules or other code dependencies. An exclusion pattern would allow ignoring things like third-party code, documentati

[2020-06-16 21:14] o2sh commented on #178
Yes, the `--exclude <pattern>` flag would be a nice addition to the tool. [tokei](https://github.com/XAMPPRocky/tokei) (used by onefetch to retrieve language statistics) already has this feature. So we "just" need to use it (from [lib.rs](https://github.com/XAMPPRocky/tokei/blob/master/src/lib.rs)):

[code]
Doing so, **Languages** and **LoC** sections will be updated based on the flag's input. How

[2020-06-21 21:15] o2sh commented on #178
https://github.com/XAMPPRocky/tokei/issues/564

[2020-06-27 12:45] o2sh opened #179 "Remove Bright Colors"
Related to #164
In some terminal(xterm...) bold --> bright.

In order to have a consistent behavior across terminals, we wish to get rid of Bright colors. To do so, we need to:

- [ ] Remove Bright color blocks for being displayed.
- [ ] Update ascii coloring to make sure that all languages don't use bright colors anymore.
- [ ] Restrict possible values for `onefecth -c` to none bright colors .

[2020-06-27 13:02] o2sh opened #180 "[Breaking change Tokei] Handle Markdown and Jupyter Notebooks"
As you may already know, Onefetch relies on [tokei](https://github.com/XAMPPRocky/tokei) for language detection.

Unfortunately, tokei shows Markdows and Jupyter Notebooks stats in separate sections apart from other languages:

![image](https://user-images.githubusercontent.com/13710835/85922726-cbf1bd00-b885-11ea-9ad0-a73f3b9df567.png)

And onefetch uses the "Code" column to account for each lang

[2020-07-05 18:02] #179 closed

[2020-07-05 18:02] #164 closed

[2020-07-05 19:39] o2sh opened #181 "Improve performance"
Onefetch's performance isn't so good to say the least. Even if we rely heavily on other tools for core functionalities (language statistics, license detection, git information), the post processing done by Onefetch adds a "significant" overhead - Moving forward, will require specific benchmarks to account for performance gain/losses - But a quick test on a relatively large repo [Linux](https://git

[2020-08-03 07:06] jubalh opened #183 "Problem with dependencies for 2.3.0 release"
When I try `cargo vendor` to create a vendor package containing all the dependencies I get the following:

[code]

Seems like something wrong with ahash? Does getting ahash work for you?

[2020-08-03 08:08] o2sh commented on #183
Hi @jubalh
Just tried it on another machine without any issue.

Maybe try upgrading your rustc version to latest stable? Run `rustup update stable`

[2020-08-03 10:29] jubalh commented on #183
@o2sh you are right! With a newer version it works without problems. Sorry about the noise! Thanks for the help!
openSUSE package is updated :)

[2020-08-03 10:29] #183 closed

[2020-08-03 11:41] o2sh commented on #183
No problem, thanks a lot for maintaining the openSUSE package @jubalh

[2020-08-20 15:28] spenserblack opened #184 "Suggestion: Add bot to close issues with no activity"
There are a few issues that have had no activity in nearly a year, and can probably be closed, like #120.
@o2sh, if you add the [stale bot](https://github.com/apps/stale) to your profile's applications, you could have it take care of these issues.

[2020-08-21 23:18] o2sh opened #185 "Use async/.await syntax"
#181

[2020-08-23 23:55] spenserblack commented on #181
To make sure both onefetch and tokei have the same size vs speed optimizations, you might want to compile onefetch with the same release profile as tokei.
[code]

[2020-08-24 14:01] spenserblack commented on #181
@o2sh When using tokei as a binary, which version are you running?
Here's what I'm getting.
[code]
Using tokei installed from Crates.io, onefetch compiled with `--release` flag @ b1d9c22dc8a2d5721e7940a95928cda8c1348877

[2020-08-24 14:21] spenserblack commented on #181
Bumped some dependencies that report performance improvements in the release notes
#189
#194
#190

[2020-08-24 18:39] o2sh commented on #181
This is very strange, I'm also running the version 12.0.4 of tokei. Did you have smth running on your machine that may have interfered with the response time ? Do you get the same results every time ?

[2020-08-24 18:45] spenserblack commented on #181
I did clone linux at `--depth=1`, which may positively impact `onefetch`'s behavior.

[2020-08-24 19:18] spenserblack commented on #181
Alright, cloned at `--depth=50` now, and noticed that onefetch seems to be consistently 2-3 seconds slower than it was at `--depth=1` (same onefetch build I was previously using). So I'm thinking that maybe either sheer number of commits or the size of the deltas in the repo is the biggest factor for slowing down onefetch in the `linux` repo.

[2020-08-25 12:25] o2sh commented on #181
In order to get a better picture of the Response time's distribution among function calls. I added a little telemetry (available on this [branch](https://github.com/o2sh/onefetch/tree/time-telemetry)) to detect the 'hot' spots :collision: where onefetch is struggling.

Here are the results for the Linux repo:

[code]
...and the culprits :suspect: are:  get_creation_time  > get_authors >  get_commi

[2020-08-26 01:52] spenserblack commented on #181
`git log --reverse`, used by `get_authors`, does seem to have a large performance impact in the Linux repo. Even at a depth of 50, it takes about half a second to create a reverse log, while a normal log is instantaneous. I'm not at all familiar with the `git2` crate, but, looking at the docs.rs, I wonder if interaction with repo history via the `References` iterator would be faster than running `

[2020-08-26 13:14] o2sh commented on #181
It's an idea worth exploring. Especially considering that `git log` is at the core of two of the slowest info line functions: get_creation_time and get_authors. This is a _one stone two birds_ opportunity :100:

[2020-08-26 13:25] o2sh opened #197 "Use git2 libray instead of git log command in get_authors() and get_creation_time"
Following a Suggestion by @spenserblack  in #181

------

I wonder if interaction with repo history via the References iterator would be faster than running git log commands. For example, assuming References are sorted chronologically,

[code]

Using a Rust iterator, which lazily evaluates its items, might be faster than executing git commands.

[2020-08-27 21:11] o2sh commented on #197
get_creation_time() using git2 instead of git log:

[code]
On the same Linux repo, I am now getting : `get_creation_time --> 12.539735171s` compared to 9.860741358s with the old version.

Did I miss smth, or is this actually worse ?

[2020-08-28 15:22] spenserblack commented on #197
:thinking: I guess executing git commands is faster after all.
We could probably use the result of `get_commits` to get creation time. Where n = number of commits, `git log -1 HEAD~{n}` should get the first commit. That may be faster than reversing then looking up.

[2020-08-28 23:48] #120 closed

[2020-08-28 23:48] #87 closed

[2020-08-28 23:48] #146 closed

[2020-08-28 23:48] #171 closed

[2020-08-28 23:48] #175 closed

[2020-08-29 10:24] o2sh commented on #197
Great idea, let's do that.

[2020-08-29 10:27] #197 closed

[2020-08-29 11:28] o2sh opened #198 "Use git log once to derive get_commits/get_creation_time/get_authors"
Following a Suggestion by @spenserblack in #197

-------

Considering the significant impact on the response time of the `git log` command. It seems more reasonable to call it only once and use its output to derive:

- Number of Commits: get_commits()
- Creation Time: get_creation_time()
- Authors: get_authors()

[2020-08-29 15:45] spenserblack commented on #198
`git log --pretty` could probably be used to get info in a way we can parse. The `.lines()` function returns a double-ended iterator, so you could call `.next_back()` to get stats of first commit, then iterate the rest normally.

[2020-08-31 06:52] jerome-laforge opened #202 "show number of tags & branches"
Hello,
It would be great if onefetch show the number tags & branches.

thx

[2020-09-01 11:04] #185 closed

[2020-09-01 11:05] #137 closed

[2020-09-01 11:05] #151 closed

[2020-09-03 12:32] voidpin opened #204 "lua ascii"
Hi,
I've just packaged `onefetch` for NetBSD and pushed it into the main repo.

I've just realized, how ridiculously huge the lua ascii is. No big deal but, maybe something to consider for future releases.

[2020-09-03 13:12] spenserblack commented on #105
Per #204, we don't really have a uniform height/width. The ASCII probably don't have to all be *exactly* the same, but we should probably pick a target maximum. For me personally, I use a vertical monitor, so the Lua ASCII takes up so much horizontal space that it messes up printing of languages in multi-language projects. I think 25x25 might be a reasonable target for maximum dimensions, what do

[2020-09-03 13:13] spenserblack commented on #204
Thanks for bringing this up! We'll discuss this in #105 :slightly_smiling_face:

[2020-09-03 13:51] voidpin commented on #204
As mentioned on reddit, no problem :)
The package is now in the main repo and should be available as a binary by the next bulk-build.
It was problem free, no patches and no hick-ups.

[2020-09-03 13:51] #204 closed

[2020-09-03 16:31] o2sh opened #205 "Refactor language.rs"
Currently, adding support for a new language requires modifying the language.rs at multiple locations.
This process can be quite cumbersome and error prone (especially for new contributors).

Some shortcuts can be taken:

- Assuming the ascii file to be in "../resources/language.ascii" => match case in `get_ascii_art()` no more needed
- Using `tokei::LanguageType` instead of our own Enum, else (if

[2020-09-03 16:56] o2sh commented on #105
Yes, Lua's ascii logo is way too big.

Definitely, setting clear guidelines for new language support is the right way to go. In the same spirit, I created #205 to facilitate the work of new contributors. Once done, I'll add a specific paragraph in the CONTRIBUTING.md called _Adding support for a new Language_.

The width may be too short, I don't think we have a lot of ascii logos hat fall inside

[2020-09-03 17:32] spenserblack commented on #105
Sounds good to me!

[2020-09-03 17:45] spenserblack commented on #205
We could probably use a macro for most language definition (the [paste crate](https://crates.io/crates/paste) is good for this). This macro could also define tests.

[2020-09-03 18:35] o2sh commented on #105
Yes.

[2020-09-05 11:26] #205 closed

[2020-09-22 23:07] #198 closed

[2020-09-30 23:24] o2sh commented on #91
HolyC is now supported by tokei!

[2020-10-02 12:46] #144 closed

[2020-10-03 18:49] o2sh opened #217 "Reduce size of Lua's ASCII logo"
Some of our ASCII logos exceed the max size imposed by our [Guideline](https://github.com/o2sh/onefetch/blob/master/CONTRIBUTING.md#ascii-logo). As a striking example, Lua's ASCII logo is just enormous:

![lua](https://user-images.githubusercontent.com/13710835/94999189-176be380-05b8-11eb-9120-006c8da36fbb.png)

The idea would be to come up with a new ASCII logo for Lua with a width < MAX_WIDTH =

[2020-10-04 10:31] maamim commented on #217
Hey, so I made a ASCII Lua logo but after running `cargo test -- --ignored` I found that there are some other logos too that aren't passing would you like me to take a look at them too?

[2020-10-04 10:42] o2sh commented on #217
Hi @maash3r,
Sure! you can make multiple PRs, one per Logo you're resizing.

Looking forward to see your work.

[2020-10-04 22:48] o2sh opened #219 "Reduce size of Jupiter-Notebook's ASCII logo"
Some of our ASCII logos exceed the max size imposed by our [Guideline](https://github.com/o2sh/onefetch/blob/master/CONTRIBUTING.md#ascii-logo). The Jupyter-notebook's ASCII logo is one of them:

![jnb](https://user-images.githubusercontent.com/13710835/95028898-38a9fe00-06a4-11eb-86af-9dc9d1433e6a.png)

The idea would be to come up with a new ASCII logo for Jupyter-notebook with a width < MAX_WID

[2020-10-04 22:49] #217 closed

[2020-10-04 22:52] o2sh opened #220 "Reduce size of Swift's ASCII logo"
Some of our ASCII logos exceed the max size imposed by our [Guideline](https://github.com/o2sh/onefetch/blob/master/CONTRIBUTING.md#ascii-logo). The Swift's ASCII logo is one of them:

![swift](https://user-images.githubusercontent.com/13710835/95028978-ee754c80-06a4-11eb-9bad-e660911f5a5f.png)

The idea would be to come up with a new ASCII logo for Swift with a width < MAX_WIDTH = 40 and height <

[2020-10-04 22:53] o2sh opened #221 "Reduce size of Swift's ASCII logo"
Some of our ASCII logos exceed the max size imposed by our [Guideline](https://github.com/o2sh/onefetch/blob/master/CONTRIBUTING.md#ascii-logo). The Swift's ASCII logo is one of them:

![swift](https://user-images.githubusercontent.com/13710835/95028978-ee754c80-06a4-11eb-9bad-e660911f5a5f.png)

The idea would be to come up with a new ASCII logo for Swift with a width < MAX_WIDTH = 40 and height <

[2020-10-04 22:53] #221 closed

[2020-10-04 23:01] o2sh opened #222 "Reduce size of Objective-C's ASCII logo"
Some of our ASCII logos exceed the max size imposed by our [Guideline](https://github.com/o2sh/onefetch/blob/master/CONTRIBUTING.md#ascii-logo). As a striking example, Objective-C's ASCII logo is just enormous:

![objective-c](https://user-images.githubusercontent.com/13710835/95029100-1dd88900-06a6-11eb-9f95-da26769f6784.png)

The idea would be to come up with a new ASCII logo for Objective-C wit

[2020-10-04 23:07] o2sh opened #223 "Reduce size of Clojure's ASCII logo"
Some of our ASCII logos exceed the max size imposed by our [Guideline](https://github.com/o2sh/onefetch/blob/master/CONTRIBUTING.md#ascii-logo). The Clojure's ASCII logo is one of them:

![clojure](https://user-images.githubusercontent.com/13710835/95029226-ff26c200-06a6-11eb-8ac7-db34df271bad.png)

The idea would be to come up with a new ASCII logo for Clojure with a width < MAX_WIDTH = 40 and he

[2020-10-05 07:56] o2sh commented on #220
assigned to @atluft

[2020-10-05 15:45] #220 closed

[2020-10-05 16:54] atluft commented on #219
I would like to resolve this one.

[2020-10-05 18:45] maash3r commented on #219
@atluft have you already completed it? Just wanted to ask as I had come up with a solution too.

[2020-10-05 20:38] o2sh commented on #223
Assigned to @maash3r

[2020-10-05 21:41] aluft-logi commented on #219
no, go ahead and I will try another

[2020-10-05 23:15] #223 closed

[2020-10-05 23:18] o2sh opened #228 "Reduce size of Php's ASCII logo"
Some of our ASCII logos exceed the max size imposed by our [Guideline](https://github.com/o2sh/onefetch/blob/master/CONTRIBUTING.md#ascii-logo). The Php's ASCII logo is one of them:

![php](https://user-images.githubusercontent.com/13710835/95141520-bbe55580-0771-11eb-9ce3-6074826c57af.png)

The idea would be to come up with a new ASCII logo for Php with a width < MAX_WIDTH = 40 and height < MAX_H

[2020-10-05 23:22] atluft commented on #219
@maash3r
Go ahead, I will look at another one.

[2020-10-05 23:26] atluft commented on #222
What do you think of this one?

![image](https://user-images.githubusercontent.com/2379260/95141971-8ecc7f00-0740-11eb-866f-d5cdb9cb00dd.png)

[2020-10-06 00:12] rootEnginear commented on #228
I would like to work on this one. I am also working on some designs:
[code]
[code]
[code]
What do you think?

[2020-10-06 06:16] maash3r commented on #219
@atluft Thanks.
@o2sh Can you assign it to me?

[2020-10-06 08:13] maash3r commented on #228
@rootEnginear
Nice art, I like the second one the most. The one with `#`

[2020-10-06 08:36] o2sh commented on #228
Great designs @rootEnginear

I second that.

------

Don't hesitate to [add colors ](https://github.com/o2sh/onefetch/blob/master/CONTRIBUTING.md#adding-support-for-a-new-language)to your logo :100:

[2020-10-06 12:13] o2sh opened #233 "New Go ASCII Logo"
The Go ASCII logo looks very uninspired and barely recognizable:

![go](https://user-images.githubusercontent.com/13710835/95199336-f801d000-07dc-11eb-86e5-027bc07120bb.png)

We are looking for a cleaner - and more colorful - design that falls between the limitations of max-width/max-height. More info  [here](https://github.com/o2sh/onefetch/blob/master/CONTRIBUTING.md#adding-support-for-a-new-lan

[2020-10-06 12:18] o2sh opened #234 "New Rust ASCII Logo"
Rust deserves a better ASCII logo:

![rust](https://user-images.githubusercontent.com/13710835/95200393-9e9aa080-07de-11eb-9f2c-7fa3ac71bbaa.png)

We are looking for a cleaner design that falls between the limitations of max-width/max-height. More info  [here](https://github.com/o2sh/onefetch/blob/master/CONTRIBUTING.md#adding-support-for-a-new-language).

-----

To check if your ASCII logo falls

[2020-10-06 15:24] #222 closed

[2020-10-06 15:28] #228 closed

[2020-10-06 17:15] atluft opened #235 "Support COLORTERM for TrueColor ASCII"
After working on the swift logo I was thinking it might be useful to be able to specify true colors for a better result:

![image](https://user-images.githubusercontent.com/2379260/95237152-d5b88400-07d5-11eb-9c56-03a332646e45.png)

Terminals that don't support COLORTERM environment variable would look like this:
![image](https://user-images.githubusercontent.com/2379260/95237267-fa146080-07d5-11e

[2020-10-06 19:34] #219 closed

[2020-10-06 21:46] o2sh commented on #235
This is very good idea @atluft
For the final implementation, you should probably modify the `define_languages!` macro to have a second Vec! for TrueColor. By Doing that, you will be able to get rid of _the offset of 10_. Also, It's preferable to read env::var("COLORTERM") only once and pass it along.

[2020-10-07 11:43] o2sh opened #239 "Reduce size of Tex's ASCII logo"
Some of our ASCII logos exceed the max size imposed by our [Guideline](https://github.com/o2sh/onefetch/blob/master/CONTRIBUTING.md#ascii-logo). The Tex's ASCII logo is one of them:

![tex](https://user-images.githubusercontent.com/13710835/95326502-fef31600-08a2-11eb-946a-cb6ad1119368.png)

The idea would be to come up with a new ASCII logo for Tex with a width < MAX_WIDTH = 40 and height < MAX_H

[2020-10-07 11:49] o2sh opened #240 "Reduce size of Zig's ASCII logo"
Some of our ASCII logos exceed the max size imposed by our [Guideline](https://github.com/o2sh/onefetch/blob/master/CONTRIBUTING.md#ascii-logo). The Zig's ASCII logo is one of them:

![zig](https://user-images.githubusercontent.com/13710835/95327108-d881aa80-08a3-11eb-9039-bce1bdadb428.png)

The idea would be to come up with a new ASCII logo for Zig with a width < MAX_WIDTH = 40 and height < MAX_H

[2020-10-07 12:49] atluft commented on #235
Will do, new to Rust programming and having your advice helps. All comments are welcome!

[2020-10-07 12:53] spenserblack commented on #235
@atluft Just curious: did you test how the `colored` crate renders TrueColor on a terminal that doesn't support it? I would assume that it would pick the closest available color if it can't render the TrueColor.

[2020-10-07 13:11] spenserblack commented on #235
Nevermind, I checked the source code and it appears that `colored` *doesn't* check if COLORTERM is set or not.

I think the best way would probably be to have the `define_languages!` macro call *another* macro, like `define_colors!`, and also define a struct for colors, like
[code]

`define_colors!` can take 2 patterns:
- `vec![ $( color:expr ),+ ]`, the current usage with no true colors, would ex

[2020-10-07 13:16] o2sh commented on #235
Just tested it on rxvt, it prints it in plain black:

![rxvt](https://user-images.githubusercontent.com/13710835/95335414-a9713600-08af-11eb-80df-43fe57d703bb.png)

[2020-10-07 13:21] spenserblack commented on #235
Thanks, @o2sh!
Besides the above suggestion of adjusting the macro, we could also possibly map over defined colors and, if they're `TrueColor` and COLORTERM isn't set to an expected value, calculate the closest color ourselves using Euclidean distance (doesn't *have* to be Euclidean distance, but it's the easiest way to get closest color IMO).

[2020-10-07 15:02] spenserblack commented on #235
I made mackwic/colored#90 for this. If it doesn't get merged, feel free to copy the code into this project :smiley:

[2020-10-07 17:14] nguyenquannnn commented on #234
Hello, I would like to take a dig at this for Hacktoberfest. How close do we want to stay with the official logo?

[2020-10-07 17:23] o2sh commented on #234
Hi,
Well, given the constraints (size and colors), some compromises/creativity are usually necessary.

Looking forward to see your input.

[2020-10-07 22:35] o2sh commented on #235
I agree, that would be nice to have this behavior - fallback to closest Color when TrueColor isn't supported - natively handled by `colored`

Still, impressive stuff @spenserblack

[2020-10-07 23:04] atluft commented on #235
I definitely am not rusty enough for this one :-)

I will noodle around with @o2sh suggestion above another day, it looks like a good direction.

In what I tried today, I had a hard time getting expr tokens to accept a comma suffix followed by a string literal for the languages like "c++".  I tried layering the parser so there were several rules for different formats, but it seemed like I could ne

[2020-10-07 23:23] #202 closed

[2020-10-08 01:03] spenserblack commented on #235
That means there's an un-expanded repeating macro pattern somewhere. [Here is a minimal reproduction that hopefully clears it up](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&code=macro_rules!%20foo%20%7B%0A%20%20%20%20(%20%24(%20%24tokens%3Att%20)*%20)%20%3D%3E%20%7B%0A%20%20%20%20%20%20%20%20%24tokens%20%2F%2F%20comment%20out%20this%0A%20%20%20%20%20%20%20%20%2F%2F%20%24(%2

[2020-10-08 13:04] atluft commented on #235
Thank you @spenserblack, that was a good example. I was thinking the other way around that there weren't enough matches, your example helps clearly see that the ```still repeating``` aspect is very important.

[2020-10-08 21:57] atluft commented on #235
Not as clean as @o2sh posted and the new macro ```define_colors``` is definitely not an easy read. Most of the non-obvious coding was to skirt some error that I couldn't figure out. Either type not in agreement in the macro or rules not matching in the input data.

I begin to wonder, why isn't the color processing in the ascii file?
[code]

[2020-10-08 23:36] o2sh commented on #235
It makes it easier to manage colors - all the coloring is defined in one file (language.rs) - and allows for run-time customization via `-c, --ascii-colors <ascii-colors>`

[2020-10-09 13:30] #239 closed

[2020-10-09 14:34] #240 closed

[2020-10-09 14:38] o2sh opened #249 "Reduce size of Forth's ASCII logo"
Some of our ASCII logos exceed the max size imposed by our [Guideline](https://github.com/o2sh/onefetch/blob/master/CONTRIBUTING.md#ascii-logo). The Forth's ASCII logo is one of them:

![forth](https://user-images.githubusercontent.com/13710835/95596523-c93e6080-0a4d-11eb-9f0b-58db0b49ae88.png)

The idea would be to come up with a new ASCII logo for Forth with a width < MAX_WIDTH = 40 and height <

[2020-10-09 15:08] o2sh opened #250 "Reduce size of Nim's ASCII logo"
Some of our ASCII logos exceed the max size imposed by our [Guideline](https://github.com/o2sh/onefetch/blob/master/CONTRIBUTING.md#ascii-logo). The Nim's ASCII logo is one of them:

![nim](https://user-images.githubusercontent.com/13710835/95599873-f260f000-0a51-11eb-8229-0ba35057fa25.png)

The idea would be to come up with a new ASCII logo for Nim with a width < MAX_WIDTH = 40 and height < MAX_H

[2020-10-09 18:00] tianlangwu commented on #250
Do you want a size down of this logo or a completely new logo for Nim's ASCII? I am not a creative person >.<. Can you assign this to me if you would like to just size down the logo :D.

[2020-10-09 18:06] o2sh commented on #250
Sure, go ahead :+1:

[2020-10-09 21:54] tianlangwu commented on #250
Do you think this is ok?
![logo](https://user-images.githubusercontent.com/60892464/95634128-2854a300-0a57-11eb-928a-cb7dbfc3b602.jpg)

It passed the test, but I am not sure you satisfied with it.
![nim](https://user-images.githubusercontent.com/60892464/95634431-e546ff80-0a57-11eb-9127-8076b6ee0f65.jpg)

I also have some other version with little adjustments but I don't know which one is better.

[2020-10-09 23:09] #250 closed

[2020-10-10 21:19] o2sh opened #255 "Reduce size of Groovy's ASCII logo"
Some of our ASCII logos exceed the max size imposed by our [Guideline](https://github.com/o2sh/onefetch/blob/master/CONTRIBUTING.md#ascii-logo). The Groovy's ASCII logo is one of them:

![groovy](https://user-images.githubusercontent.com/13710835/95665259-f6266c80-0b4e-11eb-8736-1f5a0a338756.png)

The idea would be to come up with a new ASCII logo for Groovy with a width < MAX_WIDTH = 40 and heigh

[2020-10-10 21:52] michelvosje commented on #255
I'll try to do this tomorrow. Don't know anything about this language...

[2020-10-11 18:40] #255 closed

[2020-10-11 18:41] o2sh opened #257 "Reduce size of Groovy's ASCII logo"
Some of our ASCII logos exceed the max size imposed by our [Guideline](https://github.com/o2sh/onefetch/blob/master/CONTRIBUTING.md#ascii-logo). The Groovy's ASCII logo is one of them:

![groovy](https://user-images.githubusercontent.com/13710835/95665259-f6266c80-0b4e-11eb-8736-1f5a0a338756.png)

The idea would be to come up with a new ASCII logo for Groovy with a width < MAX_WIDTH = 40 and heigh

[2020-10-11 22:19] geeseven opened #258 "gracefully fallback for unknow source code"
Greetings,

I get an error when using `onefetch` on a AUR git repo:

[code]

My guess is it can't determine the language(s) and does not fall back to something generic. `¯\_(ツ)_/¯`

[2020-10-12 23:05] o2sh opened #261 "Reduce size of Prolog's ASCII logo"
Some of our ASCII logos exceed the max size imposed by our [Guideline](https://github.com/o2sh/onefetch/blob/master/CONTRIBUTING.md#ascii-logo). The Prolog's ASCII logo is one of them:

![prolog](https://user-images.githubusercontent.com/13710835/95797541-0e81bd00-0cf0-11eb-89e5-0d4466b00c5d.png)

The idea would be to come up with a new ASCII logo for Prolog with a width < MAX_WIDTH = 40 and heigh

[2020-10-14 13:24] #234 closed

[2020-10-15 14:20] #180 closed

[2020-10-15 18:06] #249 closed

[2020-10-15 19:17] #257 closed

[2020-10-15 20:36] #261 closed

[2020-10-18 18:55] Luke-zhang-04 opened #272 "Support for more shell languages"
Bash, ZSH, and other shells aren't detected

## Expected Behavior
`myFile.bash`, `myFile.zsh`, or maybe even `myFile.fish` are classified as `shell`

Files with `#!/bin/bash` or `#!/bin/zsh` are classified as `shell`

## Current behaviour
`myFile.sh` is classified as `shell`, but `myFile.bash` or `myFile.zsh` is ignored

Files with `#!/bin/sh` are classified as `shell`, but `#!/bin/bash` or `#!/bi

[2020-10-18 19:44] o2sh opened #273 "Support for Zsh"
Following #272, we wish to add support for `Zsh`

------------------------------

[How to add support for a new language](https://github.com/o2sh/onefetch/blob/master/CONTRIBUTING.md#adding-support-for-a-new-language)

[2020-10-18 19:46] o2sh opened #274 "Support for Bash"
Following #272, we wish to add support for `Bash`

------------------------------

[How to add support for a new language](https://github.com/o2sh/onefetch/blob/master/CONTRIBUTING.md#adding-support-for-a-new-language)

[2020-10-18 20:05] o2sh opened #275 "Replace ASCII logo with shell command output"
Add a new command-line flag `--ascii `that takes a shell command as input value and renders its output where the ASCII logo is normally displayed, something like:

`onefetch --ascii "$(uname-a)"` or `onefetch --ascii "$(cat main.py)"`

[2020-10-18 20:15] o2sh commented on #272
Indeed, Onefetch doesn't support Zsh nor Bash, only Shell.
#274 #273

[2020-10-18 21:24] #233 closed

[2020-10-18 23:49] Luke-zhang-04 commented on #273
Hm. Should've read CONTRIBUTING.md first

[2020-10-19 16:58] yochananmarqos commented on #258
An AUR package repo contains no source code.

[2020-10-19 18:11] geeseven commented on #258
Hey @yochananmarqos,

I fell that even if a repo does not contain 'source code', onefetch should fall back to use [unknown.ascii][0].   I'll change the topic for clarification.

Also onefetch has support for non 'source code' repos like markdown and xml.

[0]: https://github.com/o2sh/onefetch/blob/master/resources/unknown.ascii

[2020-10-20 19:12] geeseven opened #280 "clean up python script from wiki"
The wiki contains a [python script][0] to convert images to ASCII art.  In its current form, the script is cumbersome to use, as it has several values hard coded.  I tweaked it a bit to be more user friendly and make linters happy.

[code]

[code]

What do you think?  Does it work on MacOS?

[0]: https://github.com/o2sh/onefetch/wiki/ASCII-Art-From-Image-Using-Python-Image-Library#swiftpy

[2020-10-21 00:49] #272 closed

[2020-10-21 00:50] Luke-zhang-04 commented on #272
Done in #276

[2020-10-21 09:47] #274 closed

[2020-10-21 09:47] #273 closed

[2020-10-21 09:48] #235 closed

[2020-10-21 14:04] #275 closed

[2020-10-21 14:20] o2sh commented on #280
Thanks for improving the script @geeseven
But we can go further:

- [ ]  Make width/height an input parameter.
- [ ]  Version the script `tools/ascii_art_from_image.py` (but exclude it from release via `exclude` in Cargo.toml)
- [ ]  Update [Wiki](https://github.com/o2sh/onefetch/wiki/ASCII-Art-From-Image-Using-Python-Image-Library)

[2020-10-21 17:45] geeseven commented on #280
Should the script default to these values:

[code]

I am not too familiar with  'Cargo.toml' files.  Is this the what it should look like:

[code]

[2020-10-21 17:53] o2sh commented on #280
The default values should match the Guidelines --> 25*45 (height*width).

:+1:

[2020-10-21 17:54] geeseven commented on #280
Since it has been proposed that we move the script from the Wiki to the repository, should @atluft add the current script to the repository?  This could be usefully for tracking changes over time.

[2020-10-21 17:58] o2sh commented on #280
In your PR, you can commit the first version done @atluft, then override it with your version in a second commit.

[2020-10-21 18:07] o2sh opened #283 "Extend image backend support to ITerm2 Inline Images Protocol."
As mentioned by @yoichi in #266, even though iterm2 seems to support SIXEL; it shows a broken output:

![image](https://user-images.githubusercontent.com/13710835/96747802-077e3d00-13c9-11eb-9148-44b2f98abbc0.png)

Apparently, iterm2 has its own [rendering protocol](https://iterm2.com/documentation-images.html) which _extends the xterm protocol with a set of proprietary escape sequences_. This xte

[2020-10-21 19:23] geeseven commented on #280
I ask as I have run into folks that are super picky when it comes to credit in `git blame` and contributors within GitHub.   If giving credit in commit message is acceptable, I'll submit a Pull Request.

[2020-10-22 11:36] o2sh opened #287 "Add CLI flag to disable ASCII art (or image) and only display info lines"
We wish to add a flag `--off` that will result in only showing the info lines (no ASCII logo/image):

`$ > onefetch --off`

![off](https://user-images.githubusercontent.com/13710835/96866323-7318e680-146b-11eb-995c-026aac13ba2b.png)

[2020-10-22 22:37] o2sh opened #290 "Add Text Coloring via CLI flag"
By default, the info_lines' title (Project, HEAD, Pending, Version, etc) are colored based on the first color of the dominant language:

[code]
It would be cool to let the user customize the text coloring via CLI flag, something like `onefetch --text-color X X X X`

This flag would work similarly to `--colors` except that it would only affect the text coloring.

The user would be able to provide u

[2020-10-23 00:33] atluft commented on #280
Hi @geeseven and @o2sh,
Thank you for your consideration, there is no need to attach my credentials.

[2020-10-23 04:58] rogercyyu commented on #290
Hello, I'd like to take a shot at this. I'm guessing a lot of lines in `info.rs` are gonna be modified...

[2020-10-23 08:38] o2sh commented on #290
Thanks @rogercyyu

`I'm guessing a lot of lines in info.rs are gonna be modified...`

True 👍

[2020-10-24 18:17] geeseven commented on #280
@atluft, thanks for the reply.

Seeing that only 7 lines have been left unchanged and @atluft is not concerned with credit, I will skip the wiki version in the Pull Request.

[2020-10-25 00:47] Luke-zhang-04 opened #294 "Dependency Insights"
Neofetch gives me a count of the number of packages I have installed. I was wondering if you would be willing to include a similar feature in Onefetch.

I'm willing to try and implement this, but I've never used Rust before, so I'm not sure how that'll go.

Also, this could impact performance, since the only way I can think of doing this would be to search for a certain package file (go.mod, requi

[2020-10-25 11:20] o2sh commented on #294
I like this idea a lot :100:

We'll make sure to help you along the way :+1:

We can either look for a certain file or make an assumption based on the dominant language:

rust --> cargo tree
javascript --> npm list
python --> pip list

Concerning the performance hit, this will be executed asynchronously via futures - the same way we already do  for all `git `commands -, and I am pretty sure that t

[2020-10-25 13:17] Luke-zhang-04 commented on #294
Awesome. I'll give it a shot

[2020-10-25 15:28] spenserblack commented on #294
Besides using a shell command to list dependencies, you could also look into the serde crate, serde_json, etc. to deserialize package info files.
This is a basic example struct that should be able to be deserialized from `package.json`, for example.
[code]
Then you can count the keys in the hash maps to get the count of dependencies.
This way you won't have to worry about error handling if the pac

[2020-10-25 16:23] o2sh commented on #294
I agree, parsing the files manually might be better than relying on shell commands. It won't be async - serde doesn't handle it - but as you said: it's super fast so it won't matter as much.

[toml crate](https://docs.rs/toml/0.5.7/toml/)

[2020-10-25 17:32] Luke-zhang-04 commented on #294
Alright, I'll take a look into that

[2020-10-25 19:08] geeseven commented on #280
Pull Request has been merged and wiki has been updated.

[2020-10-25 19:08] #280 closed

[2020-10-25 19:45] o2sh commented on #280
Thanks @geeseven

[2020-10-26 14:41] Luke-zhang-04 commented on #294
Do you think we should just do one layer of dependencies or the whole dependency tree?

I.e there's package.json (explicit dependencies), and then package-lock.json (every installed package).

[2020-10-26 14:57] o2sh commented on #294
As a first implementation, I think we can stick to explicit dependencies only.

[2020-10-26 21:03] #290 closed

[2020-10-27 20:19] mborejdo commented on #283
Looking forward to this. https://github.com/wez/wezterm is an awesome terminal-emulator with great Windows support. It also supports the iTerm2 inline image protocol and it would be great to have some windows love :-)

[2020-10-27 22:09] o2sh commented on #283
From what I understood, @yoichi opened an [issue](https://gitlab.com/gnachman/iterm2/-/issues/9204) addressing this problem which was fixed int this [commit](https://gitlab.com/gnachman/iterm2/-/commit/119da0c28245d797dc124990676acfdd67789cfb)

Unfortunately, I don't have a machine running macOS so I can't test it.

[2020-10-28 06:42] mborejdo commented on #283
Hey @o2sh. thanks for your reply. I am not sure I understand. Does this mean the iterm2 inline image support (which works also on windows on wezterm) will not be added, once the sixel-issue is resolved?

[2020-10-28 10:27] joseluisq opened #302 "Add JSON output support"
It would be great if `onefetch` could share its stats like `Project`, `Authors`, etc in JSON format. Probably a `--json` flag for that.
I also think that [serde](https://crates.io/crates/serde) can help here.

[2020-10-29 07:04] nguyenquannnn commented on #302
Hey @o2sh can I take a dig at this?

[2020-10-30 16:05] o2sh commented on #283
@mborejdo, wezterm also supports Sixel

![wezterm](https://user-images.githubusercontent.com/13710835/97725766-d390cf00-1ace-11eb-8b09-9ff3a444fbe4.png)

However, this won't work on Windows.

[2020-10-30 20:22] #143 closed

[2020-11-01 07:20] mborejdo commented on #283
hey @o2sh  . Yes, thats really unfortunate. Thats why I was hoping to have the iterm2-inline-image working on windows as this works as expected (almost)
Also unfortunately onefetch's --ascii does not help here, as the commandline is limited in length. Would it be possible to provide something like --ascii-file or the like so I could pass the base64 encoded inline-image to onefetch to be displayed

[2020-11-01 14:53] o2sh commented on #283
Try this `onefetch —ascii-input "$(cat image_base64.txt)"`

[2020-11-02 22:15] #283 closed

[2020-11-03 00:31] o2sh opened #307 "Fix undesired new lines after checking for Kitty/Sixel support"
both `kitty::KittyBackend::supported()` - if `KITTY_WINDOW_ID` is not set - and `sixel::SixelBackend::supported()` need to `println!()` a sequence of characters in order to check if the corresponding backend is supported, resulting in an empty line per check:

![out](https://user-images.githubusercontent.com/13710835/96910543-f0f6e500-149f-11eb-8724-123f255aa8cf.png)

![fail](https://user-images.g

[2020-11-03 21:35] yoichi commented on #307
In my environment, the behavior has not changed before and after f2bb5b0

[2020-11-03 21:57] o2sh commented on #307
You're right @yoichi , with [`f2bb5b0`](https://github.com/o2sh/onefetch/commit/f2bb5b0f211061bc9059649b0bf2f8a9d8d1ff6b), I just removed the `ImageBackend::check_if_supported()` and added some error handling. Now, we don't have an added line when using `--image-backend`, but that's it.

However, I couldn't reproduce this part

So, I closed the issue to further investigate instead of just updating

[2020-11-04 18:03] o2sh opened #310 "Replace git sys calls with git2-rs"
Currently, we manage to retrieve Git repository information via two means:

* Git sys calls --> `std::process::Command::new("git").`..
* [`git2-rs`](https://github.com/rust-lang/git2-rs) -->  `git2::Repository::::discover(&config.path)`,

In order to homogenize the code and not rely on the Git binary to be present on the user's machine, we wish to update the following methods:

- get_packed_size
-

[2020-11-06 21:25] #307 closed

[2020-11-07 13:52] #294 closed

[2020-11-07 17:13] #105 closed

[2020-11-07 17:13] #100 closed

[2020-11-07 23:09] o2sh commented on #258
the Language::Unknown is actually useless (removed in [`9849aad`](https://github.com/o2sh/onefetch/commit/9849aad6b39f5a8d18797b5829c2d19e01994cc7)). If the language isn't supported by onefetch, no fallback is possible.

[2020-11-07 23:09] #258 closed

[2020-11-08 00:51] Ferryistaken commented on #91
I'd like to have a go at this

[2020-11-08 01:48] Ferryistaken commented on #91
I've made a pull request #313

[2020-11-09 21:09] clux opened #314 "Repo information picks strange remote"
If `git remote -v` has more than one remote, the one picked seems strange to me (i got a random one from an old pr).

The repo url should probably be taken from the `origin` remote if it exists.

[2020-11-09 22:05] o2sh commented on #314
Hi @clux
With a183a32, we now look for `remote.origin.url` as the default choice and if it doesn't exist we fallback to the first entry matching `Regex::new(r"remote\.[a-zA-Z0-9]+\.url")`

[2020-11-09 22:10] clux commented on #314
Ah, that was quick. Thank you. That looks good to me!

[2020-11-09 22:11] #314 closed

[2020-11-13 15:52] mike-ward opened #317 "Support for XAML"
I see there's support for XML but it's not clear if XAML is supported.

[2020-11-13 15:58] o2sh commented on #317
No, XAML is not currently supported by Onefetch.
Let's work on that!

[2020-11-13 17:54] o2sh commented on #317
![xaml_wezterm](https://user-images.githubusercontent.com/13710835/99104667-930e7680-25e1-11eb-9cdb-690d9e3e4822.png)

Is this good ?

[2020-11-13 17:58] mike-ward commented on #317
Looks great!

[2020-11-13 19:33] mike-ward commented on #317
Thanks!

[2020-11-13 19:33] #317 closed

[2020-11-14 18:43] #91 closed

[2020-11-20 01:37] aaronfranke commented on #26
This issue still exists, though it is likely seen by the devs as low priority, so I'll probably have to bump this again later to please the `stale` bot.

[2020-11-21 21:33] geeseven opened #320 "gracefully handle lack of user.name"
Greetings,

I get an error without user.name even when attempting to disable the git_info field.

[code]

I feel that the git_info field should gracefully handle the lack of user.name and just show the git version information.  Also, it shouldn't matter when you want to disable that field.

[2020-11-21 21:39] o2sh commented on #320
I know, i just pushed a new version fixing this issue.

[2020-11-21 21:55] geeseven commented on #320
Thanks for the timely reply.  I could have sworn I checked the commit log. :facepalm:

[2020-11-21 21:55] #320 closed

[2020-11-21 22:51] geeseven opened #321 "Support for vimscript"
Hey @o2sh,

I am toying with adding support for [vimscript][0].  It is supported by tokei, but they don't really have a proper logo.  The website has some styled text, but the size does not fit with this project.

[code]

I tried stacking the words and it still does not look that great.

[code]

Should we just use Vim's logo?

[code]

Or one from [Vim ASCII-art logos][1] from Vim's [logo page][2]?

[2020-11-21 23:40] o2sh commented on #321
Hi @geeseven,

I think this one looks great:

[code]

[2020-11-22 11:53] #321 closed

[2020-11-22 14:06] o2sh opened #323 "Translate README.md in Japanese"
It would be great to have a multiple translations of the `README.md` in order to make it easier for non native English speaker to use the tool. These translations will be accessible directly from the English `README.md` via hyperlinks

Let's start with our Japanese friends :japan: :japanese_goblin:

If you're a native Japanese speaker and are willing to help: your contribution would more than appr

[2020-11-23 14:11] spenserblack commented on #323
For whoever will take this issue, it might be helpful to look at [this repository(https://github.com/mercari/engineer-vocabulary-list).

***

プルリクを出す方へ、[この役に立つリポジトリ](https://github.com/mercari/engineer-vocabulary-list)を御覧の方が良いかも知れません。

***

I hope I didn't say anything weird :worried:

[2020-11-26 00:47] Luke-zhang-04 opened #327 "Omit part of display depending on terminal size?"
If I open a split terminal in say VSCode, onefetch (obviously) gets really deformed
![image](https://user-images.githubusercontent.com/55749227/100295099-baa4fd80-2f56-11eb-9df4-d23a5acee4f1.png)

We can use the [term_size](https://docs.rs/term_size/0.3.2/term_size/) crate to get terminal size, and from there, omit either the ASCII logo or the insignts.

The question then becomes which one we shou

[2020-11-26 01:17] geeseven commented on #327
As someone that uses a laptop with a single small resolution screen, I can sympathize with these types of issues.  Another option could be line wrapping within the insights pane.  I have no clue how difficult that might be to accomplish.

Regarding term_size, looks like it does not support TTYs.

Should this application should even caterer to small terminals or TTYs?  :shrug:

[2020-11-26 01:53] geeseven opened #328 "crazy screenshot README idea"
Greetings,

I had a crazy 'showerthought' idea regarding a screenshot in the `README.md` file.  What if there was automation that would create a screenshot so the `README.md` file always had an image that showed `HEAD` for this repository?

A very rough outline how this *could* work is:

- Create a GitHub Action on commits or **merged** pull requests (not 100% sure this one is possible) to trigger

[2020-11-26 03:47] spenserblack commented on #328
The image could be kept in this repo if it is pushed to a branch besides `master` (preferably force-pushed to keep cloned repo size small). As long as the image-creation workflow only listens to changes on `master`, it shouldn't cause an infinite loop. Vaguely like this:
[code]
This will create a temporary repo with just 1 commit, then push that commit to a branch on this repo which will not share

[2020-11-26 17:33] Luke-zhang-04 commented on #327
I've never heard of TTY before, so maybe that's something for another day? It seems a bit niche. I'm just thinking we do a simple if somewhere do skip the ASCII art or something.

[2020-11-26 23:11] o2sh commented on #327
Indeed, hiding the ascii logo if the terminal is too narrow makes sense. However, it may still be deformed if the windows' width is really small. A quick fix would be to `print!("\x1B[?7l")` in main.rs before printing the output to disable line wrap:

![2020-11-27_00-09](https://user-images.githubusercontent.com/13710835/100396343-f7e7b900-3044-11eb-9bed-82ad337e36fc.png)

without forgetting to re

[2020-11-27 00:31] spenserblack commented on #327
If the ASCII logo can be hidden, it should probably be something that can be controlled by a CLI option. For example, `--hide-logo`, with the possible options `auto`, `always`, or `never`.

[2020-11-27 16:43] Luke-zhang-04 commented on #327
Yeah that's a good idea

[2020-11-27 16:43] Luke-zhang-04 commented on #327
I meannn what if we did both?

[2020-11-27 18:05] geeseven commented on #327
I would like to clarify my initial suggestion.  I was thinking something like this.

![one-fetch](https://user-images.githubusercontent.com/2334728/100473704-95260a00-30a4-11eb-9688-78315fb02eb2.png)

That being said, I don't have anything against disabling line wrap.

There already is the `--off` option.  Maybe it just needs a better name and/or description?

[code]

And line wrapping with `--off

[2020-11-27 18:08] geeseven commented on #328
Ahhh, that is a good idea.

[2020-11-27 18:09] o2sh commented on #327
Sounds good!

- [ ] Prevent line wrap by default with `print!("\x1B[?7l")` - I'll take care of that one.
- [ ] Add options to the -off CLI flag (rename it to --hide-logo) to automatically hide the art if the term_size is too small.

[2020-11-27 18:13] geeseven opened #329 "--languages and --package-managers errors"
The `--languages` and `--package-managers` options error out unnecessarily against a non git repository.

[code]

[2020-11-27 18:15] geeseven commented on #327
Should we leave line wrap on for `--hide-logo`?

[2020-11-27 18:20] geeseven commented on #323
What about adding a section to `CONTRIBUTING.md` about `README.md` translations?

[2020-11-27 18:23] o2sh commented on #329
My bad :disappointed:
72e3682 should have fixed it.

[2020-11-27 18:27] o2sh commented on #323
That's a good idea @geeseven.
Like that I won't have to create an issue for each language :sweat_smile:

[2020-11-27 18:30] o2sh commented on #327
I see your point. Maybe we should re-enable if `--hide-logo` is provided.

[2020-11-27 18:45] geeseven commented on #329
Dang, that was fast and it works great. :+1:

[2020-11-27 18:45] #329 closed

[2020-11-27 18:48] Luke-zhang-04 commented on #327
I can do this unless @geeseven wants to

[2020-11-27 18:55] geeseven commented on #327
Feel free as Rust still looks like hieroglyphics to me. :smile:

[2020-11-27 18:59] Luke-zhang-04 commented on #327
Same here lol

[2020-11-27 22:36] Luke-zhang-04 commented on #327
#330

[2020-12-01 20:34] spenserblack commented on #327
Can this be considered closed by #330?

[2020-12-01 23:15] o2sh commented on #327
We're still missing:

- [ ] Prevent line wrap by default with print!("\x1B[?7l").

The main difficulty is to make sure to re-enable the line wrap when exiting the program with `print!("\x1B[?7h")`.
In bash this can be done with `trap 'printf "\e[?7h"' EXIT` like that even if the program is killed or interrupted the command will be executed. I'm trying to find smth similar in Rust.

[2020-12-02 00:16] spenserblack commented on #327
Perhaps a combination of [signal hooks](https://docs.rs/signal-hook/0.2.1/signal_hook/) and [panic hooks](https://doc.rust-lang.org/std/panic/fn.set_hook.html)?

[2020-12-03 18:58] Saul-Dickson opened #334 "Add vimscript to the language list."
There are plenty of VIM plugin projects on GitHub and other hosting sites, and VIM already has some good preexisting ASCII art for its logo. Like [SammysHP](https://gist.github.com/SammysHP/5611986)'s Vim logo in ASCII art.

[2020-12-03 22:43] o2sh commented on #334
Done in #322
It will be deployed in the next release.

[2020-12-04 23:08] strogiyotec opened #335 "[onefetch error]: please run onefetch inside of a non-bare git repository"
Good day. I just installed onefetch using snap store and when I run `onefetch` within git repository I am getting this output
[code]
I don't use bare repository and it behaves in the same way with other repos . My version is `onefetch 2.7.3`. My OS is ` OS: Ubuntu 18.04.5 LTS x86_64`.
Git status within the same directory shows
[code]
How can I solve it ? Thanks in advance

[2020-12-07 13:53] HallerPatrick commented on #302
Hey, after there is not much progress on this issue, I just dived into this feature.
So far I have a running implementation which gives following output to stdout:

[code]

I used the mentioned serde lib. This output represents the Info struct, but is omitting the used ascii colours and the cli struct.

What do you think?

[2020-12-07 19:28] spenserblack commented on #302
Looks awesome! :smiley:

But it would probably be best if the JSON isn't a 1:1 of the Info struct.

***

- `creation_date` and `last_change`: Values like `"5 hours ago"` are "pretty", but a user outputting to JSON probably wouldn't want the pretty output, and would prefer an actual date.
- ```diff
  -"git_version": "git version 2.28.0",
  +"git_version": "2.28.0",
[code]
  Although `rename` might

[2020-12-07 22:20] o2sh commented on #302
Thanks for taking a shot at it @HallerPatrick.
If it's ok with @nguyenquannnn, you can create a PR - taking into account @spenserblack remarks -, and I'll be more than happy to merge it.

[2020-12-08 01:14] nguyenquannnn commented on #302
Hi please go ahead! Sorry about the delay, it's been a busy month for me

[2020-12-08 08:38] HallerPatrick commented on #302
Thank you for the reply. I will take another look at it, and make it more "raw" and CamelCase.

[2020-12-08 13:01] HallerPatrick commented on #302
Alright, had to change a little more than I wanted, but no logical changes in the original source code.

This is what I got:

[code]

The Info struct holds its information, which should in the end be displayed to stdout, in an already formatted displayable format. I did a mix of refactoring for more granular information and string processing to get the information  from the existing struct fields.

[2020-12-08 13:38] spenserblack commented on #302
I agree that this would probably be best if onefetch will start supporting data outputs (JSON, YAML, TOML, etc.).

The git call could possibly be changed to printing a format that can be parsed into a struct (there's `chrono::DateTime`, but there might be some better options out there), then the duration is calculated for `Display`.

[2020-12-09 00:56] HallerPatrick commented on #310
If my PR for #302 should be accepted then I would gladly take a look at it. I already refactored get_packed_size into more  granular functions in that PR.
We also had  the [discussion](https://github.com/o2sh/onefetch/issues/302#issuecomment-740605221) in the thread in the same Issue, that the `struct Info` to which those git calls provide their information should be saved more "raw" (not directly

[2020-12-09 12:07] o2sh commented on #310
This one is quite tricky, but even if you only manage to migrate `get_packed_size`: that would already be a big step forward.

Sure!

Thanks for the help @HallerPatrick

[2020-12-09 12:09] #334 closed

[2020-12-09 19:43] #302 closed

[2020-12-09 23:04] HallerPatrick opened #338 "Misleading Size Label"
While working on #310 I stumbled on `get_repo_size` which uses a the os git command  `git -C <dir> count-objects -vH` to determine the *current* size of the git repo.

Il explain why this is misleading:

|                        | onefetch w/o `.git` |  `.git`             | Total |
| ------------- | -------------           |------------- | ------------- |
| Size                |  1.8 MiB

[2020-12-09 23:23] spenserblack opened #339 "Should the logo have a white background?"
GitHub now has an official dark theme. When using the dark theme, `onefetch.svg`'s text is hard to read due to the low contrast between the black text and the dark (`#30363d` if I'm reading the CSS correctly) rendered README background.

[2020-12-10 15:02] o2sh commented on #338
Thanks for pointing that out @HallerPatrick.
Personally, I don't mind excluding `.git` folder when reading the `repo size`. Especially, if it allows to have more coherent values in regard to the `file count`.

[2020-12-10 16:53] o2sh commented on #339
The "least" ugly solution I found was to make the logo a little brighter (black --> dark grey).

[2020-12-10 20:03] HallerPatrick commented on #338
I am doing the migration to git2 and working on this. If it is okay I would change it on the fly with Issue #310 @o2sh ?

[2020-12-10 21:15] spenserblack commented on #339
Still looks readable on light background, but is now more readable on dark background. Thanks! :smile:

It still looks *better* on a light background IMO, but I think that's about as good as we're going to get :slightly_smiling_face:

[2020-12-10 22:08] o2sh commented on #338
Sure, that would be great :+1:

[2020-12-12 00:19] spenserblack commented on #335
:thinking: Would you be willing to try compiling onefetch@2.7.3 and see if you get a compiler error?

`cargo install onefetch --version 2.7.3 --debug`

[2020-12-12 11:02] #339 closed

[2020-12-12 12:11] subnut opened #342 "Size: 0 bytes (24 files) .... wut?"
[code]

Using `onefetch-bin` from AUR

[2020-12-12 12:12] subnut commented on #342
The two issues I have -

- The obvious one: Zero file size????
- The less obvious one: Why are there two _"Subhaditya Nath"_ in the **Authors:** section?

[2020-12-12 12:15] subnut commented on #338
@HallerPatrick Is this the reason of #342 ?
FYI, there are 15 files, and the size excluding `.git` is definitely not 0 bytes

[2020-12-12 12:18] subnut commented on #342
Why is it showing 24 files? I only have 19 files (and 6 directories (well... 19+6=24))
[code]

[2020-12-12 13:22] HallerPatrick commented on #342
[code]

@subnut  Sorry but could not reproduce the bug. But I am also using a Macs `homebrew`version. But can not imagine why the `AUR` version should behave different.

[2020-12-12 13:55] subnut commented on #342
@HallerPatrick maybe because of the different git versions? :shrug:

[2020-12-12 14:10] subnut commented on #342
Just to be extra sure, I built from source. But still, NOPE -
[code]

[2020-12-12 14:11] o2sh commented on #342
seems similar to this --> https://github.com/o2sh/onefetch/issues/122#issuecomment-546762347

[2020-12-12 14:21] o2sh commented on #342
To store the author's contributions we use a hash map whose key is the author's email address. Looking at your `git log`, it seems like your using two email addresses.

[2020-12-12 15:55] subnut commented on #342
Right. It seems that the merges made on GitHub uses the `@users.noreply.github.com` email, and the commits made locally use (obviously) the locally-configured email.

Well well well....

[2020-12-12 16:14] Kirtai opened #343 "Please add Smalltalk support"
When used in a Smalltalk repo like https://github.com/Cuis-Smalltalk/Cuis-Smalltalk-Dev it misidentifies it as CSS.

[2020-12-12 16:24] subnut commented on #342
Hmm...... So that's what the `remote: Compressing object` means while `git clone`-ing a repo!

Now I clearly understand why onefetch reports correctly for `git clone`-ed repos, but not for the local folders where the project was started.
Posting here for clarification of future users -

- See, when we `git clone` a repo, the following text appears -
[code]

- Note the four lines starting with `rem

[2020-12-12 16:28] subnut commented on #342
But wait!

@o2sh there's still one problem unsolved.. Why is `onefetch` showing `24 files` instead of `19 files` ?

[2020-12-12 16:36] HallerPatrick commented on #338
Its probably not the reason.

[2020-12-12 16:36] #338 closed

[2020-12-12 17:06] HallerPatrick commented on #342
I am also count 24 files.

`find . -type f | wc -l` gives me `49 files`

`find .git -type f | wc -l` gives `25 files`

`49 - 25 = 24` if I am not mistaken. Did you also includ your dot files? `5 dotfiles and 1 dotdir` which sums up to the missing `6` ;)

[2020-12-12 17:26] subnut commented on #342
Right! :facepalm: I forgot to take the hidden files into account

@HallerPatrick many many thanks for your help :+1:

[2020-12-12 17:26] #342 closed

[2020-12-12 17:30] HallerPatrick commented on #343
What even is the Smalltalk logo?

Is it this?

![Smalltalk-powered](https://user-images.githubusercontent.com/22773355/101990576-eb4f9b80-3ca7-11eb-9dcc-89224a519ee7.gif)

So should the ascii art be a hot air balloon?

[2020-12-12 19:00] Kirtai commented on #343
Yes, it's a colourful, striped hot air balloon.  Searching for "Smalltalk balloon" will give lots of examples. The original was on the cover of Byte Magazine (https://archive.org/details/byte-magazine-1981-08)[here].

[2020-12-12 20:06] spenserblack commented on #343
Currently, onefetch uses tokei to detect languages. It appears that tokei doesn't yet support smalltalk (see XAMPPRocky/tokei#316).

If you're interested in adding Smalltalk support to tokei, it's very easy -- all you should need to do is add a new object with a few keys to a JSON file.

[2020-12-15 15:55] #310 closed

[2020-12-15 16:32] strogiyotec commented on #335
Sure , I don't have cargo and rust runtime , will install and let you know if error is still there

[2020-12-15 17:19] HallerPatrick opened #344 "Adding Pub, the Dart package manager, to package managers"
While the dart programming language is supported, the [pub package manager](https://pub.dev) is not.

It is standardised with a `pubspec.yaml`file with a `dependencies`section see here: https://dart.dev/tools/pub/pubspec#dependencies

[2020-12-15 17:32] HallerPatrick opened #345 "Include look up for dependencies in pyproject.toml"
Not all python projects use requirements.txt anymore. With [PEP 518](https://www.python.org/dev/peps/pep-0518/) and [PEP 621](https://www.python.org/dev/peps/pep-0621/) pyproject.toml also allows for defining build dependencies. This is e.g used by [Poetry](https://github.com/python-poetry/poetry).

I would not necessarily include Poetry as a dependency manager, but if a `requirements.txt`is not p

[2020-12-15 18:04] spenserblack commented on #345
To add onto this, [pipenv](https://pypi.org/project/pipenv/) creates a `Pipfile` with a `[packages]` section. It seems to follow TOML format.

[2020-12-16 10:31] HallerPatrick commented on #344
If you, @spenserblack and/or @o2sh, do not have something against this, then I would assign this issue to myself.

[2020-12-16 10:36] o2sh commented on #344
Sure :100:

[2020-12-16 16:11] #344 closed

[2020-12-17 15:53] mike-ward opened #348 "Enhancement: Add .axaml files to Xaml language detection"
Avalonia has a Xaml dialect that uses a `.axaml` extension to avoid collisions with Visual Studio's Xaml designer. It's still Xaml, just a different flavor.

[2020-12-17 16:56] o2sh opened #349 "Refactoring of package manager module"
In the same spirit of language.rs, we wish to refactor the package manager module to make it more easily extensible and easier to maintain.

[2020-12-17 22:52] o2sh commented on #348
Hi @mike-ward,
FYI onefetch relies entirely on [tokei](https://github.com/XAMPPRocky/tokei) for language detection. So, there isn't much we can do here, you should therefore create an issue on their repo.

[2020-12-17 23:13] mike-ward commented on #348
good to know.

[2020-12-17 23:13] #348 closed

[2020-12-20 12:17] HallerPatrick opened #351 "Adding Github/Gitlab stats to summary"
What do you think about adding not just git related information, but also some stats about a Github/Gitlab Repo to the summary? Like stars, followers and forks.

[2020-12-20 12:53] o2sh commented on #351
Cf. #63
IMO, the perks of having onefetch being an offline tool (better response time , usable offline) overpowers the benefits of the additional information.

[2020-12-20 14:48] HallerPatrick commented on #351
I see that onefetch should not become bloat software.

But close to nobody is using a git repo without a vcs host like GitHub or Gitlab.

Onefetch can still be a offline tool. Onefetch is always passively including informations, e.g package manager and deps. It could just do a simple api call and look if it has internet connection and can successfully get a response from GitHub. If none of this is

[2020-12-20 18:43] spenserblack commented on #351
@HallerPatrick FYI, in response to the conclusion to #63, I started [this project](https://github.com/spenserblack/repofetch) 🙂

Querying the host data brings up these questions:
- What happens if the remote and local repositories' histories differ (behind, ahead, diverged)? What would be the correct commit count and repo size? The local data or the remote data?
- Onefetch's detected language and

[2020-12-20 19:30] #345 closed

[2020-12-20 19:30] #349 closed

[2020-12-20 21:12] HallerPatrick commented on #351
All those problems are arising the more information you want to include in your summary. All I would add is Stars, Forks and Watcher. So basically all you see on the top right of a repo on Github.com projects. Everything else needs an own project like yours.

What could be a problem is the authentication. Does the GH API allow for anonymous calls to it? If not, one could simply parse
a simple proj

[2020-12-20 23:30] strogiyotec commented on #335
@spenserblack  building with cargo resolved my problem so I assume that version from snap store is broken, should I close the ticket ?

[2020-12-20 23:51] geeseven commented on #351
I guess I am one of the few that uses git with no/private remotes for personal stuff or during early prototyping.

I got a few myself.

- How to handle when multiple remotes have been configured?  Just loop through all of them?
- What about selfhosted GitLab or Github Enterprises URLs that do not indicate if they are using one of these services?  i.e. git.company.com or host.your.code.com  I guess

[2020-12-21 04:23] spenserblack commented on #351
@HallerPatrick

Yes, but it limits them, with certain limits.
- Search API calls (e.g. `is:pr is:merged`) is about 10 per minute I believe
- GraphQL *requires* authentication, I believe

If limited to stars, watchers, and forks, I think a call to `/repos/:user/:repository` would be sufficient. There is a limit on unauthenticated calls for this URL, but it's very high (1000 per minute, I think), so

[2020-12-21 17:08] HallerPatrick commented on #351
I will probably go for a minimal implementation and will then make some performance test and will present them to you.

[2020-12-22 02:26] o2sh commented on #351
And these stats will be retrievable only for Git repositories hosted by GitHub (and maybe GitLab ). I'm afraid these use cases won't cover the majority of our user scenarios; Git repos are universal: people can choose to self host, use TFS, BitBucket...or stay local. I agree, this would definitely be a _"Nice to have"_ feature. But unfortunately, it's also far from being  "cost free" (performance,

[2020-12-22 19:42] HallerPatrick commented on #351
I see that this feature request is not well received. And I don't want to push something which does not make sense in the context of onefetchs philosophy.

I mean @spenserblack [repofetch](https://github.com/spenserblack/repofetch) is already doing what we talked about. Maybe I can patch up a fork of onefetch, that uses repofetch as a subcommand or something.:D

I would therefore close this issue.

[2020-12-22 19:42] #351 closed

[2020-12-24 18:33] hentai-chan commented on #335
@strogiyotec it's better to leave this ticket open until the snap store version resolves this issue

[2020-12-24 21:41] spenserblack commented on #335
@strogiyotec I'm glad that the `cargo install` worked :smile:
I'll have to research this a bit more, since I'm not too familiar with snaps or ld, but I'm thinking that maybe a shared library in your environment is in a different location than it was for the environment where the snap store version was compiled, resulting in the `cannot open shared object file` error.

[2020-12-26 17:00] HallerPatrick commented on #328
Hey guys, I really like this idea and I am testing this myself. Maybe I am on the wrong path but I would do something like this:

[code]

The problem I am currently facing is that imagemagicks `convert` is not working for me well and is producing images like this:

![onefetch](https://user-images.githubusercontent.com/22773355/103155925-17891300-47a4-11eb-8949-91a7ff2c577e.png)

I am also not gett

[2020-12-26 18:54] o2sh commented on #328
Hate to be the party pooper, but as @geeseven said:

### But....

This made me think of another _crazy 'showerthought' idea_ : what about having a web-based Onefetch version where people could type the name of their repo and have a onefetch screenshot generated on the fly and displayed right there on the screen.

Like that, no need to install the tool - or compiling it - or even use a terminal. Th

[2020-12-26 20:23] HallerPatrick commented on #328
That sound like a fun idea!

Would you want to implement it yourself? What do you have in mind for the stack?

I am down for a fun web project!

[2020-12-27 01:09] o2sh commented on #328
Sure! the more the merrier 🙌 💪

I haven't given it much thought yet, but it will probably be smth like TypeScript + Go for the language stack with some Docker. I'll start working on [onefetch.io](https://github.com/o2sh/onefetch.io) in the coming days and hopefully get something running - at least locally - ...soon. 😅

[2020-12-27 13:56] #328 closed

[2020-12-28 17:56] mapau commented on #26
Hi, I added the c header and cpp header to language.rs file to my fork
https://github.com/mapau/onefetch/tree/feature/add-c-cpp-header

https://github.com/Aaronepower/tokei already detects the c header and cpp header only the mapping in onefetch is missing.

Would be my first contribution to any GitHub Project.

[2020-12-28 18:02] mapau opened #361 "Support for QML"
# QML

https://doc.qt.io/qt-5/qmlapplications.html

## Logo
https://github.com/QMLCommunity

## Upstream support

- [x] [tokei] supports this language

[tokei]: https://github.com/XAMPPRocky/tokei

[2020-12-28 18:04] mapau commented on #361
Hi, I added the qml support to language.rs file to my fork
https://github.com/mapau/onefetch/tree/feature/add-qml-support

https://github.com/Aaronepower/tokei already detects the qml files only the mapping in onefetch is missing.

Would be my first contribution to any GitHub Project.

[2020-12-28 18:34] spenserblack commented on #361
Great! Would you like to make a pull request?

[2020-12-28 19:59] mapau commented on #361
https://github.com/o2sh/onefetch/pull/362

[2020-12-28 20:28] o2sh commented on #361
You're doing great! looking forward to merge your PR :+1:

Just update it.

[2020-12-28 23:16] #361 closed

[2020-12-30 17:46] o2sh commented on #26
I'm not really fund of the idea of having separate entries for header files (CHeader and C++Header). I personally prefer the [GitHub Linguist](https://github.com/github/linguist/blob/master/lib/linguist/languages.yml) approach of extending C and C++ detection scope to include their respective header files:

[code]
I'm doubt the people over at [tokei](https://github.com/XAMPPRocky/tokei/) would be

[2021-01-08 18:23] freddii opened #369 "offer prebuild deb files in a ppa"
It would be useful to have prebuild deb packages in a ppa at https://launchpad.net .
So people can install it with getting updates and without having to compile it themself.

to create a deb file:
[code]

[2021-01-09 02:51] o2sh commented on #369
Actually, ppa requires source packages - that is, .dsc instead of .deb -, so binary packaging tools like  `cargo deb` don't really apply here.

I managed to publish onefetch 2.8.0 (not head) for Ubuntu focal (20.04) on amd64 ([link](https://launchpad.net/~o2sh/+archive/ubuntu/onefetch)):

[code]
If this doesn't match your distro version, please tell me and I'll try to push a new package. In the me

[2021-01-09 09:57] freddii commented on #369
yes works like a charme on 20.04 :+1:
but maybe it can be offered for the 3 main used distributions using the snap package.

so offering it also for 18.04 and 20.10
![onefetch](https://user-images.githubusercontent.com/7213207/104088756-5077bc00-5269-11eb-8c38-4158f1305367.png)

[2021-01-09 22:41] o2sh commented on #369
I just published two new packages: one for groovy (20.10) and one for bionic (18.04). The man page is only available in the bionic package (I forgot to do it for the other two...sorry :disappointed:).

A new entry was added in the wiki -> https://github.com/o2sh/onefetch/wiki/Installation#ubuntu-ppa

[2021-01-09 22:42] freddii commented on #369
thanks a lot for all your work :)

[2021-01-09 22:44] #369 closed

[2021-01-18 03:25] planet36 opened #377 "Last change: now ago"
`onefetch 2.9.1`

Very shortly after making a commit and then running onefetch, the "Last change" shows "now ago".

`Last change: now ago`

The word "ago" should be omitted if the delta time is close enough to be "now" because it doesn't sound right.

[2021-01-18 18:54] o2sh commented on #377
I agree, it does sound a bit clumsy :grimacing:

onefetch relies on [chrono_humanize](https://crates.io/crates/chrono-humanize) for its time formatting.

Looking at this [issue](https://gitlab.com/imp/chrono-humanize-rs/-/issues/7), it should be easily fixable by replacing these [two lines ](https://github.com/o2sh/onefetch/blob/60e554f8e560ba12409f819d7765b4f06d464983/src/onefetch/utils.rs#L46-L4

[2021-01-19 11:50] #377 closed

[2021-01-23 19:42] o2sh opened #381 "Automatic Homebrew release failing"
Since the merge of #160, none of the automatic homebrew release via [Github CI have succeeded](https://github.com/o2sh/onefetch/actions?query=workflow%3Ahomebrew-update-formula).

From the logs:

[code]

@erikgaal, any idea why ?

[2021-03-04 02:27] Luke-zhang-04 commented on #327
I think this is probably out of the scope of my abilities, especially since Rust is such a foreign language to me. If I was supposed to do something here then sorry for not saying something earlier but I don't think I can.

[2021-03-04 10:47] o2sh commented on #327
I'm the one who was supposed to work on that second part :disappointed:.
Unfortunately, last time I tried, I wasn't able to come up with an elegant/robust solution to **make sure** to re-enable the line wrap before exiting the program - **in all cases** -, and not risking to mess up with the user's terminal configuration.

[2021-04-01 19:27] #335 closed

[2021-04-02 18:08] aaronfranke commented on #26
This issue still exists, though it is seen by the devs as low priority, so I'll probably have to bump this again later to please the `stale` bot. The problem still deserves some kind of solution eventually.

[2021-04-23 21:48] spenserblack commented on #381
Pinned this so it stays open

[2021-04-24 16:52] #381 closed

[2021-05-01 12:55] gbaranski opened #419 "Support for fetching remote repositories"
Hello, what do you think about that? Command for that could look like that
[code]
Or instead --github, --remote
[code]

[2021-05-04 01:16] HallerPatrick commented on #419
Would the remote repo then be cloned beforehand? And if yes, in a temporary folder or at the current working directory?

onefetch already uses git2, which also supports cloning, so the implementation would be easy. Would love to help out with this.

[2021-05-04 09:04] gbaranski commented on #419
Yes, it would be cloned, on unix systems we can use /tmp for storing the repository, no idea how to do that for windows.

[2021-05-04 09:28] HallerPatrick commented on #419
I think windows uses `%localappdata%\Temp`. Not really sure tho. Would the git repo afterwards be deleted? And if not, would a new `onefetch --remote <same-repo>` clone it again into temp or use the existing one?

[2021-05-04 09:50] gbaranski commented on #419
On Linux /tmp directory is stored in RAM, so that should be deleted automatically after restart. On windows, no idea. I've used https://doc.rust-lang.org/std/env/fn.temp_dir.html for retrieving temp directory.

That's how it works now
![image](https://user-images.githubusercontent.com/34353640/116987122-f5ae1880-acce-11eb-92c3-61ba9cbebdc8.png)

[2021-05-04 12:25] spenserblack commented on #419
You may also want to look into the [`temp-dir`](https://crates.io/crates/temp-dir) crate, which provides a struct that will delete the directory's contents when it is dropped.

[2021-05-04 13:31] spenserblack commented on #419
I'm going to have to think about this feature a bit. It sounds cool, but I wonder if it's worth it when the user can just
1. `git clone <my-url> <my-dir>`
2. `onefetch <my-dir>`
3. `rm -rf <my-dir>` (if necessary)

[2021-05-22 19:49] djalexkidd opened #428 "Add GDScript/Godot support"
https://godotengine.org

Godot Engine uses .gd files for scripts.

[2021-05-24 00:07] o2sh commented on #428
<img width="839" alt="Screenshot 2021-05-24 at 02 02 38" src="https://user-images.githubusercontent.com/13710835/119281014-3943d480-bc34-11eb-9586-82ba6f399798.png">

[2021-05-24 00:11] djalexkidd commented on #428
Thanks I like it !

[2021-05-24 00:12] #428 closed

[2021-05-30 00:18] github-actions[bot] opened #432 "RUSTSEC-2020-0036: failure is officially deprecated/unmaintained"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Status              | unmaintained                |
| Package             | `failure`                      |
| Version             | `0.1.8`                   |
| URL                 | [https://github.com/rust-lang-nursery/failure/pull/347](https://git

[2021-05-30 00:18] github-actions[bot] opened #433 "RUSTSEC-2020-0077: memmap is unmaintained"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Status              | unmaintained                |
| Package             | `memmap`                      |
| Version             | `0.7.0`                   |
| URL                 | [https://github.com/danburkert/memmap-rs/issues/90](https://github.c

[2021-05-30 12:18] #181 closed

[2021-06-01 20:39] FlyinPancake opened #440 "Ubuntu 21.04 release"
Hi I'd like to have Ubuntu 21.04 hirsute in the PPA or the command in the Installation documentation should be updated.

For now the workaround is adding the ppa using the command:
[code]
After that I can go and edit `/etc/apt/sources.d/o2sh-ubuntu-onefetch-RELEASE.list` and change `hirsute` to `groovy` there.

[2021-06-01 22:13] o2sh commented on #440
I've just added the binary for `hirsute`
![2021-06-02_00-12](https://user-images.githubusercontent.com/13710835/120396696-4d27be80-c337-11eb-8625-1167d782bb7e.png)

Sorry for your trouble @FlyinPancake

[2021-06-01 22:26] FlyinPancake commented on #440
Very cool man, thanks :smile:

working just fine now
[code]

[2021-06-01 22:26] #440 closed

[2021-06-02 00:51] #419 closed

[2021-06-02 00:52] #327 closed

[2021-06-02 12:09] o2sh opened #441 "Translate README.md in Chinese 🇨🇳"
It would be great to have a multiple translations of the [`README.md`](https://github.com/o2sh/onefetch/blob/master/README.md) in order to make it more accessible for non English-speaker to use the tool. These translations will be accessible directly from the English `README.md` via hyperlinks and placed in the `docs` folder.

If you're a native Chinese-speaker :cn: and are willing to help, your c

[2021-06-02 12:13] o2sh opened #442 "Translate README.md in Russian 🇷🇺"
It would be great to have a multiple translations of the [`README.md`](https://github.com/o2sh/onefetch/blob/master/README.md) in order to make it more accessible for non English-speaker to use the tool. These translations will be accessible directly from the English `README.md` via hyperlinks and placed in the `docs` folder.

If you're a native Russian-speaker :ru: and are willing to help, your c

[2021-06-18 19:23] o2sh opened #446 "Ignore [bot] commits 🤖🤖"
With the democratization of dependency management bots and other non-human commit-generating tools, commit logs can get very noisy.

It would be nice to have an option for filtering these types of commits out via a CLI flag `--no-bots`. A simple approach would be to skip all commits whose author's name includes  the string `[bot]`.

[2021-06-18 19:38] spenserblack commented on #446
Good idea! While it's common for bots to contain the string `[bot]`, I think it might be a good idea if this CLI option could take (but not require) a regex pattern. For example the user could do `onefetch --no-bots` for basic usage, or
`onefetch --no-bots="\[[Bb]ot\]"` for more complex usage. The option's default could be `\[bot\]`.

Then onefetch could skip any commit where the author matches th

[2021-06-18 19:55] o2sh opened #447 "Merge duplicate contributors 👤👤👤👤"
Since @yoichi's PR #243: we identify each contributor by their email address instead of their username which is definitely the right solution. However in some cases, a user may have changed his GH email along the way and therefore appear twice - or more - in the `Authors` section:

<img width="738" alt="Screenshot 2021-06-18 at 21 48 25" src="https://user-images.githubusercontent.com/13710835/1226

[2021-06-18 20:06] o2sh commented on #446
Absolutely! A CLI flag that accepts a pattern input but defaults to [bot].

[2021-06-24 19:07] spenserblack commented on #446
Note for potential contributors: Looks like you explicitly have to set `min_values(0)` and `max_values(1)` to get an arg to *accept* a value, but not require it. So the `Arg` would probably look something like.
[code]
Then you could set the value like so:
[code]

***

Setting `default_value` seems to cause `matches.is_present` to always to return true, even *if the user didn't use it as a CLI arg*

[2021-06-24 21:13] HallerPatrick commented on #447
Sounds like a good idea to me.I would be interested in doing this.  @o2sh is it still open?

[2021-06-24 23:25] o2sh commented on #447
It's all yours :thumbsup:

[2021-06-25 11:09] HallerPatrick commented on #447
@o2sh While currently working on this, I am asking myself, why it is the better way to identify by email in the first place and not the username, when only the email can change and not the username? Or am I missing something?

[2021-06-25 12:37] o2sh commented on #447
You can actually also change your GitHub username, even though it's less common.

The username/email that appears in the `git log` (and parsed by onefetch) is taken from the `.gitconfig`, so if your SSH key is properly configured: you can actually put whatever you want in their and still be able to push to your repository, - or in HTTPS, if you login with username/password. On GitHub, each commit

[2021-06-25 13:51] HallerPatrick commented on #447
Alrighty, that seems reasonable 👍

[2021-06-25 18:22] spenserblack commented on #447
To add on to this, most tools that I'm familiar with use the email instead of the name to identify the committer. GitHub does this, for example. Check out [this test commit](https://github.com/spenserblack/test-repo/commit/5324628a2f7fe93f1bbefefbac6bcde931b6026c), where I used the same email but a different name. GitHub still identifies me as the committer.
So I think that identifying by email is

[2021-06-25 18:24] #446 closed

[2021-06-26 13:04] HallerPatrick commented on #447
Made a pull request. It is still not perfect, because there are also commits with a different username _and_ email. We would have to make guesses, if they are the same person, where I would refrain from...

<img width="735" alt="Screenshot 2021-06-26 at 15 02 28" src="https://user-images.githubusercontent.com/22773355/123513803-8847b400-d68f-11eb-9501-8fb47e2934f2.png">

[2021-06-26 13:39] yoichi commented on #447
Git has a mechanism for identifying users by .mailmap file. Is that not enough?

[2021-06-26 16:45] o2sh commented on #447
To be honest, I wasn't even aware that Git provided such a mechanism.

For repositories that do provide this file, this would definitely solve our issue. Git2 seems to provide bindings to take advantage of [Mailmap](https://docs.rs/git2/0.13.20/git2/struct.Mailmap.html).

Maybe, we should explore that solution, it may result in a cleaner logic and prevent us from making any wrong assumptions on wh

[2021-06-26 17:46] spenserblack commented on #447
Thank you for letting us know about that, @yoichi!

@o2sh I like this approach. Would the merging by author name still be necessary? Or should we merge only on email and leave the responsibility to the repo owner to add a `.mailmap` to let onefetch know how to merge users?

[2021-06-26 19:07] o2sh commented on #447
This I think, which implies reverting #449 and adding a `Mailmap` routine on top of what is currently in place.

[2021-06-26 22:19] HallerPatrick commented on #447
But isn't `mailmap`are features not used often? @o2sh  mentioned some, but they are comparatively huge projects with a lot of commiters. Wouldn't it be better to check if a `.mailmap` file exists in root and use the routine and otherwise merge by mail?

[2021-06-26 23:46] o2sh commented on #447
This is what I meant when I said:

We should keep merging by email no matter what and **if** a `.mailmap` is present, use it to merge any duplicates.

------
For example, let say we have the following logs:

[code]

Without changing anything from what is currently in place, onefetch would be able to merge commit 1 and 2 and outputs something like:

John Smith 2
John S. 1

Now, let's assume we have

[2021-06-27 14:42] HallerPatrick commented on #447
@o2sh You have a point here with the 100% correctness. I mean what we could do is another command line flag which allows for assumptions to merge by email and also write in the docs, that maintainers of their repo could include a `.mailmap` file for a clean resolution of commits.

[2021-06-27 15:29] HallerPatrick opened #450 "Use the new Issue System of Github"
What do you think about using the Beta Issue feature of Github? I think the new issue template might be interesting.

https://github.com/features/issues

[2021-06-27 19:13] o2sh opened #451 "Add CLI flag to display "username <email>" in the Author section ✉️"
`git shortlog` provides an option `--email` to display the author's email address alongside its username:

[code]
It could be a good idea to implement the same option in Onefetch.

[2021-06-27 20:27] o2sh commented on #447
Ok for the docs, not so much about adding a command line flag.

I think we should stick to what `git shortlog` does - as the de facto standard - and merge entries based on `username + email` by default with .mailmap mapping if present.

Something in the line of the [`read_from_stdin`](https://github.com/Andersbakken/git/blob/83232e38648b51abbcbdb56c94632b6906cc85a6/builtin/shortlog.c#L123) functio

[2021-06-27 21:05] o2sh commented on #450
Looks cool :heart_eyes_cat:, let's try it out!

![gh](https://user-images.githubusercontent.com/13710835/123559400-2163f100-d79c-11eb-8943-362a967f6881.png)

[2021-06-29 15:57] #450 closed

[2021-06-30 18:34] #451 closed

[2021-07-01 19:21] aaronfranke commented on #26
This issue still exists, though it is seen by the devs as low priority, so I'll probably have to bump this again later to please the `stale` bot. The problem still deserves some kind of solution eventually.

[2021-07-03 11:35] #447 closed

[2021-07-04 23:43] manojkarthick opened #457 "Support for installation using MacPortss"
Hi! Thanks for creating this tool. I noticed that it was missing from the MacPorts package manager on macOS, so I added the package. You can take a look at https://ports.macports.org/port/onefetch/summary for more details.

It can be installed using the following commands:

[code]

I was unsure how to update the wiki with this information. Could you please guide? Thanks!

[2021-07-05 14:24] o2sh commented on #457
Thanks a lot @manojkarthick :100:

Concerning your question about the wiki, updating the [installation page](https://github.com/o2sh/onefetch/wiki/Installation) is very simple: just follow this [example](https://github.com/o2sh/onefetch/wiki/Installation/_compare/23fb3bc2ab97df4f0ce09a7d61e7ea2e5d3eb0eb...78db90f7b42658b5e0634fd029138aa67d6a730e).

[2021-07-06 05:50] manojkarthick commented on #457
Thank you! I've updated the wiki page. https://github.com/o2sh/onefetch/wiki/Installation#macos-macports

[2021-07-06 10:33] KomeilParseh opened #458 "No 2.33-0ubuntu9.2 package for ubuntu 20.04"
# No 2.33-0ubuntu9.2 package for ubuntu 20.04

Hi, thank you very much for your app

I had already installed it in the **arch** and it worked without any problems, but unfortunately now that I want to install it on **Ubuntu 20.04**, the installer says that the prerequisite for the program on your operating system is old.

Can this program (prerequisite) be reduced to a few previous versions?

Than

[2021-07-06 10:37] mmdbalkhi opened #459 "Translate documents to Persian 🇮🇷"
# Translate document to Persian 🇮🇷

Hello, I can translate documents into **Persian**. If you agree, I will do it.

thank you

[2021-07-06 10:43] KomeilParseh commented on #459
Of course I mean wiki and readme.
And another suggestion, I think copy the wiki to the docs folder and enable the [github page](https://pages.github.com/) to make it easier to read.

[2021-07-06 14:22] #457 closed

[2021-07-06 14:36] o2sh commented on #459
IMO, translating the wiki may be overkill and possible cumbersome to maintain considering that its content may evolve with time.

But yeah, a Persian version of the README.md would be awesome @KomeilParseh  :iran:

[2021-07-06 14:50] KomeilParseh commented on #459
Hi @o2sh

Your opinion is very respectful to me. I will do this. But my suggestion is to copy the wiki to the documentation folder and make a version of the version to make it easier to read and find.

Thanks for reading this

[2021-07-06 15:34] o2sh commented on #459
Sorry, I missed the second part of your first comment :facepalm:

It does sound appealing to have a local version of the wiki (in a `.md` file format), but it kinda bugs me to have two version of the same thing that would require to be kept in sync. Besides, the [`man page`](https://github.com/o2sh/onefetch/blob/main/docs/onefetch.1) kinda fulfill this role.

But I may be wrong...

[2021-07-06 16:04] KomeilParseh commented on #459
Hi again @o2sh

Yes it is very attractive.
The truth is that man is very different from this, and GitHub pages a very attractive , and it is a Persian proverb that says, "People's minds are in their eyes (what they see)!"

[2021-07-06 16:04] spenserblack commented on #459
Just a possibility: With a version of the wiki in the main repo, it might be possible to create a workflow that checks for changes to `docs/` and copies all files to the wiki repo, commits and pushes them. Kind of like this

[code]
Or this script could be run on new releases, instead.

I'm not sure if this would be useful, though :thinking:
One problem that I can think of is that I'm not sure if a

[2021-07-06 16:11] KomeilParseh commented on #459
Sorry about that `removed their assignment`

Unfortunately, my finger hit it.🤦🏻‍♂️

[2021-07-06 16:15] KomeilParseh commented on #459
Hi @spenserblack

No, there is no need to do this. In the pages menu in repo settings, by setting the branch and theme, GitHub can automatically render md and show it to users

![Screenshot](https://user-images.githubusercontent.com/65954744/124633895-fe6fc600-de9a-11eb-9d60-858343530c78.jpg)

Like the photo above👆👆

[2021-07-06 16:20] spenserblack commented on #459
If the wiki pages are deleted in favor of gh-pages, there is no need. That suggestion is for if [the wiki](https://github.com/o2sh/onefetch/wiki) is still used.

[2021-07-06 16:37] KomeilParseh commented on #459
I mean the content of the same wiki on the pages (with their translation), if the page and the wiki are active together, there will be no problem

[2021-07-06 21:20] o2sh commented on #458
I tried to build a new package for ubuntu 20.04 but it failed (see [buildlog](https://launchpadlibrarian.net/547205174/buildlog_ubuntu-focal-amd64.onefetch_2.10.2-focal_BUILDING.txt.gz)).

The culprit being the `bool::then` syntax that we started using in v2.10.0 and that was stabilized by the Rust compiler in [1.50.0](https://blog.rust-lang.org/2021/02/11/Rust-1.50.0.html). Unfortunately, this ve

[2021-07-06 23:06] spenserblack commented on #458
That's my bad, I shouldn't have suggested it without checking the Rust version where it was stabilized.
Should we look into targeting older Rust versions?

[2021-07-06 23:43] o2sh commented on #458
I don't think we should refrain from using new syntax - as long as it's stable (ci).
I mean people will/should upgrade eventually...:thinking:

[2021-07-07 03:25] KomeilParseh commented on #458
Hi, the fact is that many operating systems have not yet been updated to this version, such as dabian, Ubuntu 20.04 and others that many people use these operating systems, so if it is really possible to rewrite it, which is great, otherwise So wait for the update to a newer version or change the operating system!

[2021-07-08 08:16] flowHater opened #462 "New Language Request: [SQL]"
### \[SQL\]

Currently, SQL doesn't appears in list of used language in my project.
what onefetch shows me:
![image](https://user-images.githubusercontent.com/45258763/124887429-7510de80-dfd5-11eb-9ad1-0fe55f7d89ac.png)
What tokei returns:
![image](https://user-images.githubusercontent.com/45258763/124887560-91ad1680-dfd5-11eb-991b-ce1a28d97c08.png)

### Logo

### Upstream support

- [X] [tokei] s

[2021-07-09 18:54] #441 closed

[2021-07-10 14:43] 0x20F opened #464 "Discover hidden files and directories"
Would it be possible to make onefetch look through hidden directories inside a repository?

I have a directory in one of my repositories that is hidden (starts with a dot `.system`) and onefetch doesn't find any code in the repository, however, if I unhide that directory `mv .system system` it finds all the code inside.

Which is why I'm assuming the issue is with hidden items.

[2021-07-10 15:44] spenserblack commented on #464
[Looks like there's a tokei config option for that](https://docs.rs/tokei/12.1.2/tokei/struct.Config.html#structfield.hidden). If you would like to make a PR, [here's where `hidden` is set to false (via `default`)](https://github.com/o2sh/onefetch/blob/f352e98f2068a00661c57657c8690f88b46e2ed5/src/info/language.rs#L346) 🙂

[2021-07-10 16:53] 0x20F commented on #464
I'll gladly make a PR when I've got a bit of time, thank you!

[2021-07-10 20:21] #464 closed

[2021-07-13 15:18] 0rax opened #467 "New Language Request: [Protocol Buffers]"
### \[Protocol Buffers\]

Protocol Buffers files are usually used to define the data modeling and when paired with [gRPC](https://grpc.io/) the API method of a service. They are then used to generate code in the native language they will be used and are a substantial part of some codebase (5% in my case).

### Logo

![Protobuf Logo](https://img.stackshare.io/service/4393/ma2jqJKH_400x400.png)

###

[2021-07-13 16:23] HallerPatrick commented on #467
Hey @0rax, thanks for the request. Do you want to implement this yourself? If not, then I would take over 😊

[2021-07-13 16:25] 0rax commented on #467
Hey @HallerPatrick, you can go for it, I don't have much Rust experiences and, to be honest, don't have much time to learn and tinker right now.

Thanks a lot for your consideration :smile:

[2021-07-13 17:09] HallerPatrick commented on #467
Alright, I got a little bit creative! I was not using the image provided by @0rax cause the round corners are not working to well in ascii. So I used the more "sharp" version.

Which one (if even) you like better? @o2sh @spenserblack @0rax

No. 1:
![Screenshot 2021-07-13 at 19 05 38](https://user-images.githubusercontent.com/22773355/125495699-d93ae16c-2386-41d7-a9fb-a0e02f4d6e98.png)

No. 2:
![Sc

[2021-07-13 17:13] 0rax commented on #467
Wow nice ! It works really well with those sharp corners and aspect ratio (which match the older logo design before Google redesigned not so long ago). I'm sure nobody would mind it.

As per both designs, I do have a small preference for number 2 here.

[2021-07-13 18:25] o2sh commented on #467
Looks great @HallerPatrick :tada:
it will just require some slight retouching to make it perfectly symmetrical - I'll show you where in the PR if needs be.

[2021-07-14 10:11] HallerPatrick commented on #467
Please go ahead! :)

[2021-07-14 15:34] o2sh commented on #467
80af6ec

![protobuf](https://user-images.githubusercontent.com/13710835/125649588-6be3b4cb-6014-4e30-9fed-b9faa9cbbef1.png)

[2021-07-14 16:28] o2sh commented on #467
80af6ec  254498e

![protobuf2](https://user-images.githubusercontent.com/13710835/125658124-dcd41bc0-f24c-4eb3-9618-fa797413b1ae.png)

[2021-07-14 17:17] HallerPatrick commented on #467
Clean!

[2021-07-14 21:12] o2sh commented on #467
final version:

![protobuf3](https://user-images.githubusercontent.com/13710835/125693566-639840d4-d28f-4df2-9c78-d443083bd8e2.png)

[2021-07-15 11:08] #467 closed

[2021-07-24 12:10] chengleqi commented on #458
I‘ ve got the same error on Ubuntu 20.04

[2021-07-26 17:15] #433 closed

[2021-07-27 22:36] LordMZTE commented on #462
What logo should we use for SQL? There doesn't seem to be one official logo, but I might be mistaken.

[2021-07-27 23:18] spenserblack commented on #462
I've been thinking about that a bit. I'm kind of fond of something like this: [![database icon](https://raw.githubusercontent.com/vorillaz/devicons/ba75593fdf8d66496676a90cbf127d721f73e961/!SVG/database.svg)](https://github.com/vorillaz/devicons/blob/ba75593fdf8d66496676a90cbf127d721f73e961/!SVG/database.svg)

It's not specific to any version of SQL (MSSQL, SQLite, etc.), and I've seen icons simil

[2021-09-05 16:03] Vinegret43 commented on #442
I'm a native Russian speaker and also know English quite well, i think i'll try to do this. I'm absolutely new to this project, is there anything i should know before contributing? Also if you need translations for other files (Documentation, for example), please let me know, i'm always glad to help

[2021-09-05 17:31] Vinegret43 commented on #442
I have a question. Look at this paragraph:
[code]
What does "code distribution" mean? Does it mean percentage of every language in a repo? This can be translated in many different ways without context

[2021-09-05 18:34] o2sh commented on #442
Correct, I meant to refer to this info line:

![cd](https://user-images.githubusercontent.com/13710835/132137521-2288efeb-3084-46cd-862e-24525edbda83.png)

Looking forward to see your  translation added to the project :muscle:

[2021-09-05 19:28] #442 closed

[2021-09-10 16:59] o2sh commented on #458
Since v1.51 of rustc is now available to ubuntu version >= 18.04, I was able to build and deploy  [onefetch v2.10.2](https://launchpad.net/~o2sh/+archive/ubuntu/onefetch/+packages) for **Ubuntu 20.04**.

To install onefetch from launchpad:

[code]

Hopefully, this should resolve this issue.

[2021-09-11 00:23] chengleqi commented on #458
It works on **Ubuntu 20.04**, thank u!

[2021-09-18 00:18] o2sh opened #490 "Improve language support of `onefetch`"
Listed here are  _"all"_ the languages that could be supported by onefetch - the checked lines are the ones already supported. Beside giving us a better idea of our coverage, this list can serve as a basis for anyone looking to find a language for which they want to add support for.

- [x] ABNF
- [x] ABAP
- [ ] ActionScript
- [x] Ada
- [x] Agda
- [ ] Alex
- [ ] Alloy
- [x] Arduino
- [x] Assembly
-

[2021-09-24 12:44] spenserblack commented on #490
Pinned this issue

[2021-09-25 20:26] o2sh commented on #462
Based on @spenserblack suggestion:

![sql](https://user-images.githubusercontent.com/13710835/134785125-9cac3510-d6d3-4597-aa86-469de085c75f.png)

[2021-09-29 12:52] spenserblack commented on #462
Closed by #491

[2021-09-29 12:52] #462 closed

[2021-09-29 13:38] spenserblack opened #493 "Automate documentation of language count"
Currently, the READMEs report "over 50 languages" are supported. While this is true, it's a bit on the low side to be honest. Here is the current language count:
[code]
It might be possible to create an Action to take the output of `cargo run -- --languages | wc -l` and parse the result into the READMEs, to keep the count up-to-date.
Although, if the language count is kept up-to-date in the README

[2021-09-29 21:55] o2sh commented on #493
Sounds interesting :thinking:, I like the second option better with a badge that would redirect to the [wiki](https://github.com/o2sh/onefetch/wiki/language-Support), for simplicity we could stick it only to the English README.md.

If this is doable via GH Actions: (IMO) a trigger on release would be sufficient.

[2021-09-29 23:57] spenserblack commented on #493
I agree with the trigger on release.
I'm thinking something along the lines of:
1. get language count
2. `curl` a badge from shields.io (example: ![badge](https://img.shields.io/badge/supported%20languages-70-blue)) to a file like `supported-languages.svg`
3. use `![supported languages](./path/to/supported-languages.svg)` in the README(s)

I'll try it out and make a PR later

[2021-09-30 23:37] #493 closed

[2021-10-13 08:20] tomwojcik opened #504 "On ubuntu can't update package list without adding gpg pub key"
[code]

Solution: in installation guide add step where this GPG key is added.

[2021-10-13 08:26] tomwojcik commented on #504
I updated the wiki. If it's correct, please close this ticket.

https://github.com/o2sh/onefetch/wiki/Installation#ubuntu-ppa

[2021-10-18 15:57] spenserblack opened #510 "Should we handle data formats being the primary language?"
For example, with the inclusion of the JSON language with #505, a large amount of repositories with `package-lock.json` files will now be detected as JSON being their primary language. But the user might expect the primary language to be JavaScript, TypeScript, or some other web language.

We might want to consider one of these options:
- Categorize language by programming, data, etc. and allow us

[2021-10-20 14:14] #510 closed, assigned to o2sh

[2021-10-24 00:06] github-actions[bot] opened #515 "RUSTSEC-2020-0159: Potential segfault in `localtime_r` invocations"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Package             | `chrono`                      |
| Version             | `0.4.19`                   |
| URL                 | [https://github.com/chronotope/chrono/issues/499](https://github.com/chronotope/chrono/issues/499) |
| Date

[2021-10-24 00:06] github-actions[bot] opened #516 "RUSTSEC-2020-0071: Potential segfault in the time crate"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Package             | `time`                      |
| Version             | `0.1.43`                   |
| URL                 | [https://github.com/time-rs/time/issues/293](https://github.com/time-rs/time/issues/293) |
| Date                | 2020-11-

[2021-10-29 14:11] #504 closed, assigned to nobody

[2021-11-05 13:09] spenserblack opened #525 "Document minimum Rust version?"
There have been a few issues caused by incompatible Rust versions (#183 and #128). It might be helpful if the minimum required Rust version was documented somewhere.

I wrote [this action](https://github.com/spenserblack/actions-msrv) recently (it's just a wrapper around [cargo-msrv](https://github.com/foresterre/cargo-msrv)), which might be helpful if we decide to try this.

[2021-11-06 14:36] o2sh commented on #525
Absolutely @spenserblack
Adding the [`create-msrv-badge`](https://github.com/spenserblack/actions-msrv/blob/master/examples/.github/workflows/examples.yml) job to the CD pipeline sounds like a great idea to me :+1:

[2021-11-07 12:11] o2sh commented on #516
The `chrono` crate does not seem to be [actively maintained](https://www.reddit.com/r/rust/comments/qamgyh/is_the_chrono_crate_unmaintained/hh6h36h/).

We may have to try and replace the `chrono` crate with `time` where possible.
As a result, we will have to port some of [chrono-humanize](https://gitlab.com/imp/chrono-humanize-rs)'s logic and integrate it into onefetch inside a `time.rs` module.

[2021-11-07 12:15] o2sh opened #526 "Use time crate instead of chrono"
#516 #515

The `chrono` crate does not seem to be [actively maintained](https://www.reddit.com/r/rust/comments/qamgyh/is_the_chrono_crate_unmaintained/hh6h36h/).

We may have to try and replace the `chrono` crate with `time` where possible.
As a result, we will have to port some of [chrono-humanize](https://gitlab.com/imp/chrono-humanize-rs)'s logic and integrate it into onefetch inside a `time.rs

[2021-11-07 13:03] HallerPatrick commented on #526
How about using [humantime](https://github.com/tailhook/humantime) as an alternative für `chrono-humanize`?  It states that it is based on `time`.

I could look into it to see if it worsk how we want it / how `chrono-humanize` did it.

[2021-11-07 13:33] o2sh commented on #526
Actually, humantime is a _"A parser and formatter for **std::time**::{Duration, SystemTime}"_ which only relies on `time` (and `chrono`) for benchmarks and unit tests. This makes it a perfect candidate for what we intend to do.

So yeah, fingers crossed 🤞

[2021-11-07 15:31] HallerPatrick commented on #526
You are right. Its only good for parsing human time. I misread that.

@o2sh do you know why we apply the offset for timezones to the elapsed time till creation [here](https://github.com/o2sh/onefetch/blob/689a0ab8ed92fad7743a72775d709ae43bc84718/src/info/repo.rs#L339-L355)? And why it is `west`. As long as the repo to display is not created hours ago, those +-5 hours are not relevant. But e can im

[2021-11-07 18:44] o2sh commented on #526
If I'm not mistaken, this logic was added in one of your PR #341

Either that or just add a `time.rs` module inside the project. Whatever works best for you :+1:

[2021-11-08 08:26] HallerPatrick commented on #526
Haha, well of course it was me. I think this is something that can be removed.

Yeah, I will first try a implementation in this module.

[2021-11-09 07:46] #525 closed

[2021-11-19 18:25] spenserblack commented on #526
Closed by #533

[2021-11-19 18:25] #526 closed

[2021-11-19 18:38] spenserblack commented on #515
Closed by #533?

[2021-11-20 22:57] #515 closed

[2021-11-20 22:57] #516 closed

[2021-11-23 13:27] spenserblack commented on #432
#537 May have helped with this, as it replaces the `failure` sub-dependency of `askalono`.

[2021-11-23 18:18] #432 closed

[2021-11-23 21:13] o2sh opened #543 "'Generate Language Badge' workflow is failling"
The 'Language-badge'  workflow doesn't seem to be able to find cargo: `sh: 1: cargo: not found`, which results in the generation of a badge with the value 0 for the number of supported languages.

I manually updated the language badge in f236104

[2021-11-23 22:03] spenserblack commented on #543
I would recommend removing `spenserblack/actions-set-output` and instead using GitHub Workflow's built-in `::set-output` command.
I wrote that action so that I can set outputs with a `dotenv`-like format, but the fact that it's a docker action probably makes it more trouble than it's worth. That's probably why cargo wasn't found.

[2021-11-27 16:03] o2sh commented on #543
It worked with your suggestion :+1:
Thanks

[2021-11-27 16:03] #543 closed

[2021-11-27 17:17] o2sh opened #544 "'Generate MSRV Badge ' workflow times out"
The 'Generate MSRV Badge' has been [timing out](https://github.com/o2sh/onefetch/actions/workflows/msrv-badge.yml) systematically since the last release.

[2021-11-27 18:23] spenserblack commented on #544
I'll look into this. Looking into `cargo-msrv`, it looks like the `--bisect` search isn't as thoroughly tested, so I wonder if that's causing the timeout. A linear search is theoretically slower, though (but neither should be 6+ hours IMO).

[2021-12-01 19:52] spenserblack commented on #544
Yeah, just tried both default behavior and `--bisect` with `cargo msrv` on onefetch and it seemed to hang up on Rust `1.42.0` for some reason. I'll update this to just be linear.
The linear search actually isn't much of a time loss either, considering that onefetch targets a fairly high Rust version.

[2021-12-08 20:29] Pomroka opened #552 "Support colors when using custom ascii image (`--ascii-input` option)"
Using `--ascii-colors` don't affect my image, only text.

![image](https://user-images.githubusercontent.com/3210260/145279222-3d0b2c06-b129-4490-9bd4-35fe4e887605.png)

[2021-12-08 21:16] spenserblack commented on #552
Looks like an empty `Vec` is currently getting passed as the colors when custom ASCII art is used.
https://github.com/o2sh/onefetch/blob/3a1368a971bcd3ddca55563ac5671cf958c52f36/src/ui/printer.rs#L41-L65

[2021-12-08 21:24] spenserblack commented on #552
In fact, the current behavior is that colors are effectively disabled when using custom ascii art.

I'll change the title to reflect that we need to make a change to support this.

[2021-12-08 22:15] #544 closed

[2021-12-09 04:50] hustcer opened #553 "New Language Request: nushell"
### nushell
For more detail: https://github.com/nushell/nushell

### Logo

Is there a logo that can be used as a source of inspiration for the ASCII art?  Currently no.

### Upstream support

- [ ] [tokei] does not support this language, related issue: https://github.com/XAMPPRocky/tokei/issues/849

[tokei]: https://github.com/XAMPPRocky/tokei

[2021-12-09 22:18] o2sh commented on #552
NGL, it never crossed my mind to combine the two flags `--ascii-colors` and `--ascii-input` together 😅

It shouldn't be to hard to make it work 👍

[2021-12-10 00:12] Pomroka commented on #552
As i didn't find a way to load custom ascii image directly i used `--ascii-input` and when i saw no color i try use only logical option i found.
Load custom ascii logo from file would be my another `Feature Request`

[2021-12-10 00:26] spenserblack commented on #552
Until that feature is implemented I think that `onefetch --ascii-input "$(cat my-ascii-art)"` would work.

[2021-12-19 22:39] VarLad commented on #458
@o2sh Sorry for messaging here, but I've added the instructions for Fedora in the wiki
I think it just got added, I thought there would something like a PR for that

Either way, you can take a look and see if something is wrong

[2021-12-19 22:54] o2sh commented on #458
@VarLad It's perfect, thanks a lot for your contribution 👍

[2022-01-29 06:42] spenserblack opened #572 "Svelte logo probably needs to be changed"
So I ran `onefetch` on a Svelte project and noticed something: the current logo is whitespace (renders as black on a dark terminal) surrounded by a white shape kind of like a circle, with a red background. I did a double-take when I saw the ASCII. With the combination of a black logo, white circle, and red background, it has a pretty strong resemblance the Nazi flag IMO. At least on a terminal tha

[2022-01-29 11:00] o2sh commented on #572
That's a good point. we could switch to this color palette:

![7exmJEg4_400x400](https://user-images.githubusercontent.com/13710835/151658433-47db235e-941a-4da1-b80b-0f68e356cb32.png)

[2022-01-29 16:50] spenserblack commented on #572
Yeah, I think that looks good. It's pretty close to Svelte's current logo, too.

[2022-01-29 17:25] #572 closed

[2022-01-31 23:13] t-h2o opened #577 "repo name (problem if token)"
Hi,
thanks for your job!
I put my token in my repository when I clone it...
git clone https://<TOKEN>@github.com/<USER>/<REPO>
---> It's display my token when I tape onefetch...
Can you fix it?

[2022-02-02 02:08] spenserblack commented on #577
Just making sure I understand the issue:

The stats to the right of the logo have
[code]
is the problem, is that correct?

[2022-02-02 07:17] theo-grivel commented on #577
Exact!

-------- Original Message --------
On 2 Feb 2022, 03:09, Spenser Black wrote:

[2022-02-02 12:22] o2sh commented on #577
You could use `-d, --disable-fields <FIELD>...    Allows you to disable FIELD(s) from appearing in the output.`

and do something like `onefetch -d repo`

[2022-02-02 20:41] spenserblack commented on #577
Here's a temp workaround that should work on Linux (or any environment where `sed` is installed).

[code]
It basically finds and replaces `http://(any characters)@` with `http://`.

[2022-02-02 20:57] theo-grivel commented on #577
Hey,
Thanks for your time!
I try that...
~ : $ onefetch | sed 's/http:\/\/.\+@/http:\/\//g'
but it didn't work... /:
What I miss?
Theo,

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Wednesday, February 2nd, 2022 at 9:41 PM, Spenser Black ***@***.***> wrote:

[2022-02-03 15:03] spenserblack commented on #577
:thinking: Well that depends on what went wrong. Were there no colors? Was `sed` not installed? Or maybe `sed` performs differently in your environment (it looks like MacOS `sed` is different).

Perl regex can be used instead with
[code]

I should note that my suggestion is hack-y, and @o2sh's answer https://github.com/o2sh/onefetch/issues/577#issuecomment-1027887911 is better, and will work anywh

[2022-02-04 10:43] theo-grivel commented on #577
HI,
In my .zshrc
I put this...
alias onefetch="CLICOLOR_FORCE=true onefetch | perl -pe's/\/\/.+@/\/\//g'"
Thanks dude, It's work great!
have a good weekend
Theo

------- Original Message -------
On Thursday, February 3rd, 2022 at 4:03 PM, Spenser Black ***@***.***> wrote:

[2022-02-04 14:22] y-mx-b opened #578 "New Language Request: [Fennel]"
### \[Fennel\]

Fennel is a Lisp that compiles to Lua. It combines the flexibility of Lisp with the speed and simplicity of Lua.

### Logo

https://fennel-lang.org/logo.svg

### Upstream support

- [ ] [tokei] does not support this language.

[tokei]: https://github.com/XAMPPRocky/tokei

[2022-02-04 14:55] y-mx-b commented on #578
Made a pull request to the tokei repo for Fennel language support.

[2022-02-06 21:33] Totto16 opened #579 "Feature Request: Exclude Submodules"
Would it be possible to have a flag to exclude submodules of the git repo, it would be helpful, it is currently possible with exclude, so its already possible by hand, but it nonetheless worth to be a flag

[2022-02-06 22:37] spenserblack commented on #579
🤔 This makes me wonder of *any* nested repo should be excludable. One way to detect a submodule would be if the `.git` *file* (not directory) exists in a subfolder. As far as I know, any submodule that has been initialized must have this file. But if we check if the `<nested>/.git` path *exists,* regardless if it's a directory or not, then all nested repositories are excluded even if they're *not*

[2022-02-06 22:48] Totto16 commented on #579
Good point, but its true. But I think git ls-files only reports files + submodules, all not submodules are their with their content as files, so I think that would be solvable with that, the alias for exclude was also my solution, but its not the same for all repos etc, but it's a hard topic, since one may want to include them by default or not.

[2022-02-07 03:14] spenserblack commented on #579
While you wait for us to discuss and implement a solution, you could probably make a catch-all way to ignore submodules with a shell function, which will help with your language stats.

For example, here's one in fish.
[code]
(It's more likely that you use bash instead of fish, but I hope this example helps get you started 🙂 )

[2022-02-07 18:42] Totto16 commented on #579
Ok if you are discussing this, thank you, as I said, it's not that important or necessary, but rather a small convenience for some (or also only me). I indeed use bash, but some things are similar, I only have to change a few syntactic things from there. Thank you :)

[2022-02-15 13:44] spenserblack opened #584 "Colorful language breakdown"
### Discussed in https://github.com/o2sh/onefetch/discussions/582

<div type='discussions-op-text'>

<sup>Originally posted by **spenserblack** February 14, 2022</sup>
Just an idea that popped into my head. Making discussion to see if its worth doing.

I'm thinking that, like how GitHub uses linguist to have a colored bar of languages, we could do the same. Each of the languages currently has a "p

[2022-02-20 18:54] #584 closed

[2022-02-21 02:21] GameKyuubi opened #586 "Add support for URLs"
Would be cool if you could feed this URLs to inspect repos without cloning them.

[2022-02-21 03:07] AlienJust opened #587 "Arch linux PKGBUILD"
### PKGBUILD script file(s)

https://wiki.archlinux.org/title/PKGBUILD

### Logo

Maybe archlinux logo (from neofetch)

### Upstream support

- [ ] [tokei] supports this language
- [x]  I've just created issue at tokei's github https://github.com/XAMPPRocky/tokei/issues/888

[tokei]: https://github.com/XAMPPRocky/tokei

[2022-02-21 03:45] spenserblack commented on #586
Probably a duplicate of #419

[2022-02-21 03:48] Czaki opened #588 "Snap version 2.11.0 fail to run"
When trying to use onefetch from snap its fails with `Error: please run onefetch inside of a non-bare git repository`

[code]

When using version from apt everything works

[code]

My system:
[code]

[2022-02-21 20:21] willcl-ark commented on #26
FWIW I tried this on the Bitcoin Core [repo](https://github.com/bitcoin/bitcoin) and it thinks it's 50.5%...

a) theres no typescript in the project
b) perhaps this is related to C++ header detection?

`onefetch 2.11.0`

<img width="901" alt="image" src="https://user-images.githubusercontent.com/6606587/155019355-55c151a4-f311-4fe5-9f1c-3b4e89b64923.png">

`github-linguist` does return the correct

[2022-02-21 20:39] spenserblack commented on #26
Interesting about the TypeScript issue. Looks like it's caused by the files in `src/qt/locale`, which all have `.ts` extensions (guess it's the extension of Qt translation files, too).

Most likely. What it comes down to is that `tokei`, our dependency for language detection, naively using filenames instead of the actual content for categorization. `github-linguist` performs heuristics on file con

[2022-02-21 22:25] #586 closed

[2022-02-21 22:30] o2sh commented on #588
Are you sure that you ran onefetch inside of a git repository ? see the [Getting Started](https://github.com/o2sh/onefetch/wiki/getting-started#usage) section in the wiki.

[2022-02-21 22:51] Czaki commented on #588
Yes. I run both version in same repository. I'm not only one:

https://www.reddit.com/r/linux/comments/sxarym/neofetch_for_git_repository/hxszgzn/?utm_source=reddit&utm_medium=web2x&context=3

[2022-02-21 23:01] o2sh commented on #588
Indeed, you're not the first one to have encountered this issue #335

Unfortunately, I don't reproduce on my machine.

[2022-02-21 23:29] Czaki commented on #588
Did you have any hint how I could got more verbose output that may help you? Maybe this is somehow related to snap permissions?

[2022-02-21 23:53] spenserblack commented on #588
I think we may want to adjust this line
https://github.com/o2sh/onefetch/blob/3de0a37446b844a3020b8bf97f6f6bafe8d2b14d/src/info/repo.rs#L359
When `repo.is_ok()` is `false`, it's likely short-circuiting the boolean expression, resulting in `Ok(false)` being returned when the wanted behavior is likely that `!repo?.is_bare()` would return an `Error` (due to the `?`). This is likely leading to confusi

[2022-02-22 00:59] Czaki commented on #588
I just compile onefetch from the source and it works without problem.

When building snap using `snapcraft` it also works. So modifying code also will not help to solve this.

But when install from snap store it does not work.

[2022-02-22 01:41] spenserblack commented on #588
This is just a guess, but I'm thinking maybe the snap version isn't properly linking with some libraries, which causes `repo.is_ok` to return `false`.

[2022-02-22 02:32] GameKyuubi commented on #419
Is it absolutely necessary to clone the whole repo to get the data?  Would it be impossible to get the data directly from github or smth?

[2022-02-22 09:05] Czaki commented on #588
there are no such error messages.
Maybe it is possible to create a new snap release (maybe using a beta channel) to check this? Or some more verbose version that will print additional debug information?

[2022-02-22 09:46] willcl-ark commented on #26
Right. I did take a quick look at those issues but agree that it seems likely that it will be closed as a duplicate.

Can't really see how this can be improved without either using the github tool (which works).

[2022-02-22 13:43] spenserblack commented on #26
I don't think we should be using `github-linguist` *directly*, since it's written in Ruby. However, it could be possible to make a Rust port of linguist that uses the same data files (similar to what [linguist-js](https://www.npmjs.com/package/linguist-js) does). But one cool thing that tokei does is categorize lines so that commented lines can be treated separately from actual code, which I think

[2022-02-22 14:15] Czaki commented on #588
I see. Maybe @o2sh could create a new release that will allow debugging this.

[2022-02-22 16:39] aliceTheGrinseCatz commented on #335
Doesn't work for me (Pop!_OS 21.10). I tried the command with the newest as well as with the version 2.7.3 and I still get the error "[onefetch error]: please run onefetch inside of a non-bare git repository". I installed as it is described. The snap version give me the same output and even the version from the official ppa doesn't work. I decided to install it directly from the source and now, it

[2022-02-22 18:09] skyfaller commented on #33
One possible solution is to have a theme that uses ansi colors, as bat does: https://github.com/sharkdp/bat/issues/490

Delta uses more or less the same solution because it uses bat themes: https://github.com/dandavison/delta/issues/447#issuecomment-808821016

Is creating an ansi theme or using bat's ansi theme possible for onefetch?

[2022-02-22 20:23] cameronswinoga opened #592 "Follow replaced commits (created with `git replace`)"
I don't think that `onefetch` respects commits that are replaced using `git replace` (https://git-scm.com/book/en/v2/Git-Tools-Replace). This is often used in large repositories where the history can be quite long, so for every-day development only a subset of the actual history is used. When a developer wants to see the entire history (for use with `git blame` or similar) they can use `git replac

[2022-02-22 21:23] spenserblack commented on #592
Interesting, I wasn't aware of this usage before. I'll need to look into this more, but my initial instinct is that your issue is happening in these lines (below), and that the root cause is how git2 determines if a commit is discoverable.
https://github.com/o2sh/onefetch/blob/af3967fde055ab6d66c2e690b9cd4b83a9e1c68f/src/info/repo.rs#L52-L65

[2022-02-22 22:55] o2sh commented on #588
I followed @spenserblack's suggestion and temporarily removed the first condition in the `is_valid()` check.

@Czaki, you can test this version via `sudo snap install onefetch --edge`

[2022-02-22 23:53] Czaki commented on #588
[code]
where
[code]

Based on fast google it may be connected with install git-lfs and by default, this file is absent in most installations.
Later I read that snap by default has to access only files in the user home directory.

I found a similar issue https://github.com/profclems/glab/issues/597 with a simple solution https://github.com/profclems/glab/issues/599

[2022-02-23 00:11] spenserblack commented on #419
Without cloning, much of the info would still be available via the GitHub API. but it's been discussed a few times if onefetch should fetch data from the API, and concluded that onefetch shouldn't be an offline-only tool.

See https://github.com/o2sh/onefetch/issues/24#issuecomment-455911188, https://github.com/o2sh/onefetch/issues/63#issuecomment-539234924, and https://github.com/o2sh/onefetch/is

[2022-02-23 02:13] GameKyuubi commented on #419
Perhaps, since it already supports exporting JSON, it could also *import* JSON, so that it *could* be used in a chain with a program that does all that data collection separately?

[2022-02-23 13:55] spenserblack commented on #419
Honestly, if onefetch was going to give that level of ability to define your own statistics, it would probably be through more command-line options instead of consuming JSON. The main reason would be to prevent duplication of efforts by supporting stats via flags *and* JSON input.

If onefetch consumed JSON, it would almost be better design to split onefetch into multiple tools IMO. A tool that ge

[2022-02-23 14:16] spenserblack commented on #33
Themes definitely sounds like a fun idea! I would consider it a new feature instead of a resolution to this issue. Mainly because I consider this issue resolved already due to the below points.

- onefetch supports defining your own colors via command-line options
- isn't this more of an issue of terminal configuration than onefetch output? Out of curiosity I tried `onefetch --true-color never` wi

[2022-02-23 16:29] skyfaller commented on #33
This is a fair point, but I do not want to figure out which colors I need to change on every terminal program I use. Picking a theme per program isn't as onerous, especially if I can just pick the ansi theme for everything (and ideally do that in a config file so I don't have to call it with command line flags every time).

`onefetch --true-color never` doesn't seem to make a difference for me, th

[2022-02-23 17:25] spenserblack commented on #33
Oh yeah, that white-on-white is pretty hard to read (I actually prefer low contrast output like that, but I know that's not the majority opinion :laughing:).

So I think I've been thinking about this the wrong way. I was focused on the logo, but really it seems like the text is the issue. As a very quick workaround for you, `onefetch -t 0 0 0 0 0` would set all text colors to be black. Our themes

[2022-02-23 17:37] skyfaller commented on #33
Disappointingly, this doesn't seem to do it either:

![Screenshot from 2022-02-23 12-32-38-min](https://user-images.githubusercontent.com/80093/155374671-2127f727-21fb-41a8-9d85-65bf05f5c8a2.png)

The text is still too light to read.

Here's some more info about my system:

![Screenshot from 2022-02-23 12-35-02-min](https://user-images.githubusercontent.com/80093/155375139-0f3b61ed-d135-4884-a14b-

[2022-02-25 17:43] eigengrau opened #594 "onefetch returns error when repository uses core.splitIndex=true"
When a Git repository is using split index files, onefetch (2.10.2) fails with an error.

### Steps to reproduce

[code]

### Example output

[code]

[2022-02-25 18:58] spenserblack commented on #594
This looks like it's indirectly coming from our `git2` dependency, via libgit2.
https://github.com/libgit2/libgit2/blob/d9863fc19eed8135f2fbcc4ee22ea950dcd6fddf/src/index.c#L2615
https://github.com/libgit2/libgit2/blob/508361401fbb5d87118045eaeae3356a729131aa/tests/index/splitindex.c#L20

Likely related: https://github.com/libgit2/libgit2/issues/6132

[2022-02-26 20:21] o2sh commented on #588
@Czaki, Sorry for the late answer, can you try `sudo snap connect glab:config-git` to grant read access to `/etc/gitconfig`.

[2022-02-26 20:35] OldWorldOrdr opened #595 "Allow for running on a git url"
ex: `onefetch --url https://github.com/o2sh/onefetch`

[2022-02-26 20:41] #595 closed

[2022-02-26 20:59] TheFrenchGhosty opened #596 "The same person appears twice as author"
Onefetch shows the same person twice as author (I'm guessing it's because it's seeing different e-mail address?) It might be a good idea to just addition those and displaying them as being from the same author.

Repository: https://github.com/iv-org/invidious

Onefetch version 2.11.0

[code]

[2022-02-26 21:54] TheFrenchGhosty commented on #596
@spenserblack Interesting, thanks!

Solved then.

[2022-02-26 21:54] #596 closed

[2022-02-27 06:50] shadows1003929 opened #597 "Feature request: macOS support"
Please add a macOS dmg or compile instructions

[2022-02-27 11:35] o2sh commented on #597
Hi @shadows1003929, you can install onefetch via brew or MacPorts, more info in the [wiki](https://github.com/o2sh/onefetch/wiki/Installation#macos)

You can also take a look at [this](https://github.com/o2sh/onefetch/wiki/Installation#build-from-source), if you want to build from source

[2022-02-27 12:10] o2sh commented on #588
Yeah sorry, I thought I had a solution but I was wrong 😞

As a quick fix, would you consider making your gitconfig global wide instead of system wide ? By doing something like `mv /etc/gitconfig ~/.gitconfig`

[2022-02-27 14:35] Czaki commented on #588
This will fix of course. For me, I could even use the compiled version. But this is not a proper solution for his problem.
And it is not a solution for all users where sometimes you need systemwide configuration files for all users. There need to be at least some proper error message.

[2022-02-27 17:50] o2sh commented on #588
Following 125c610, a manual review was automatically created and is currently pending: https://dashboard.snapcraft.io/snaps/onefetch/revisions/1855/

[2022-03-02 22:40] o2sh commented on #588
https://forum.snapcraft.io/t/system-files-request-for-onefetch/28963

[2022-03-03 14:55] ExtinctDrift19 opened #603 "support termux"
### \[Language Name\]

### Logo

### Upstream support

- [x] [tokei] supports this language

[tokei]: https://github.com/XAMPPRocky/tokei

[2022-03-07 01:07] spenserblack opened #605 "Change coloring dependency"
Not something that needs to be done right now IMO, but something we might want to do eventually. `colored` hasn't been updated in a while, and may not be maintained anymore.

I'm creating this issue to document potential alternatives should we ever decide to switch to a different dependency (this isn't a definitive list, I'll add more as a find them 🙂)

- [`owo-colors`](https://github.com/jam1garn

[2022-03-07 21:47] o2sh commented on #605
`owo-colors` seems like a great candidate for this with very low - to no - efforts on our part.

[2022-03-10 21:03] hustcer commented on #553
not stale

[2022-03-14 15:25] spenserblack opened #612 "Test `info::repo::tests::display_time_as_human_time_current_time_arbitrary` can fail"
Running `cargo test`, it seems like this test can fail, at least on my machine. It returns `"2 years ago"` instead of the expected `"a year ago"`. I ran a bisect to make sure that there were no changes causing this test to fail, and bisect selected 3d7b14b856300b145f2b2dfec2ca62cb5c0785e8

[2022-03-14 15:32] spenserblack commented on #612
I think the issue is that `time` is set to `1600000000`, instead of being relative to the current time.

[2022-03-14 21:36] #612 closed

[2022-03-16 13:13] evilja opened #618 "build from src"
i'm adding it to my repo.
`make DESTDIR="/home/aureai/xir/image" install -j8`
doesn't work. how can i fix it?

[2022-03-17 19:12] spenserblack commented on #618
What's the error?
As an alternative way to build/install from source, you can `cd onefetch; cargo install --path .`

[2022-03-17 21:12] evilja commented on #618
i fixed. executable goes to .cargo/bin
i was trying to place executable to image directory. my pkg manager usually gets executable and libs from image/
https://github.com/evilja/xir/blob/main/onefetch.xir

[2022-03-17 21:13] evilja commented on #618
its binary

[2022-03-18 13:39] jubalh opened #619 "CVE-2022-24713"
SUSE Security has requested an update to address [CVE-2022-24713](https://blog.rust-lang.org/2022/03/08/cve-2022-24713.html). Upstream [commit](https://github.com/rust-lang/regex/commit/ae70b41d4f46641dbc45c7a4f87954aea356283e).
Please take the time to adjust Cargo.lock and upgrade at least regex.

Thank you.